<div class="navbar-inner">
    <div class="container">
  
        <div class="navbar-center-wrapper">
        <div class="navbar-collapse collapse"><ul id="menu-header-menu-1" class="nav"><li id="mgt-menu-item-613" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a title="Blog Home" href="/blogs/wavelength/">Blog Home</a></li><li id="mgt-menu-item-613" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a title="What’s New" href="/blogs/wavelength/tagged/whats-new">What’s New</a></li><li id="mgt-menu-item-612" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a title="Sauna Science" href="/blogs/wavelength/tagged/sauna-science/">Sauna Science</a></li><li id="mgt-menu-item-472" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a title="Products" href="/blogs/wavelength/tagged/products/">Products</a></li><li id="mgt-menu-item-611" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a title="Lifestyle" href="/blogs/wavelength/tagged/lifestyle/">Lifestyle</a></li></ul></div>                  </div>
  
    </div>
  </div>