<!--cart button-->
<div class="go-cart__trigger {% if template != 'cart' %}js-go-cart-trigger{% endif %} nav-cart nav-link">

    <span class="js-go-cart-counter">{{- cart.item_count -}}</span> <span class="go-cart-mini-cart__subtotal-price js-go-cart-bubble-mini-cart-subtotal"></span>

    <!--go cart mini cart-->
    <div class="go-cart__mini-cart js-go-cart-mini-cart">

        <div class="go-cart-mini-cart">

            <!--go cart mini cart content-->
            <div class="go-cart-mini-cart__content js-go-cart-mini-cart-content">
            </div>
            <!--end go cart mini cart content-->

            <!--go cart mini cart subtotal-->
            <div class="go-cart-mini-cart__subtotal">
                <span>Estimated Total <span class="js-go-cart-counter-subtotal">{{- cart.item_count -}}</span>: </span>
                <span class="go-cart-mini-cart__subtotal-price js-go-cart-mini-cart-subtotal"></span>
            </div>
            <!--end go cart mini cart subtotal-->

            <!--go cart mini cart buttons-->
            <div class="go-cart-mini-cart__footer js-go-cart-mini-cart-footer">

                <a href="/cart/" class="go-cart__button btn">
                    Check out
                </a>

            </div>
            <!--end go cart mini cart buttons-->

        </div>

    </div>
    <!--end go cart mini cart-->

</div>
<!--end cart button-->
