<!--cart button-->
<div id="cart-icon-bubble" class="go-cart__trigger {% if template != 'cart' %}js-go-cart-trigger{% endif %} nav-cart nav-link">

    
    <span class="js-go-cart-counter" >{{- cart.item_count -}}</span> <span class="go-cart-mini-cart__subtotal-price js-go-cart-bubble-mini-cart-subtotal"></span>

    <!--go cart mini cart-->
    <div class="go-cart__mini-cart js-go-cart-mini-cart">

        <div class="go-cart-mini-cart">
            <div class="cart-header">
                <div class="js-cart-added"><div class="nfc-check"></div> 1 item added to your cart</div>
                <!--go cart modal close-->
                <div class="go-cart-mini-cart__close js-go-cart-mini-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"></path>
                    </svg>
                </div>

            </div>
        <!--end go cart modal close-->
            <!--go cart mini cart content-->
            <div class="go-cart-mini-cart__content js-go-cart-mini-cart-content">
            </div>
            <!--end go cart mini cart content-->
            <div class="mini-discount">
                <div class="docapp-coupon-input"></div>
            </div>
            <!--go cart mini cart subtotal-->
            <div class="go-cart-mini-cart__subtotal">
                <span>Estimated Total <span class="js-go-cart-counter-subtotal">{{- cart.item_count -}}</span>: </span>
                <span class="go-cart-mini-cart__subtotal-price js-go-cart-mini-cart-subtotal"></span>
            </div>
            <!--end go cart mini cart subtotal-->

            <!--go cart mini cart buttons-->
            <div class="go-cart-mini-cart__footer js-go-cart-mini-cart-footer">

                <a href="/cart/" class="go-cart__button btn">
                    Check out
                </a>

            </div>
            <!--end go cart mini cart buttons-->

        </div>

    </div>
    <!--end go cart mini cart-->

</div>
<!--end cart button-->
