{% assign customrecommendations = product.metafields.my_fields.product_recommendations.value %}

{% if customrecommendations != blank %}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}	

<div class="related-products">
		
    <h2>You may also like</h2>
    <div class="rc-arrows">
        <img src="{{ 'arrow_black.svg' | asset_url }}" class="rc-arrow-right" alt="" onClick="scrollRelated(1);"  loading="lazy"/>
        <img src="{{ 'arrow_black.svg' | asset_url }}" class="rc-arrow-left" alt="" onClick="scrollRelated(-1);" loading="lazy" />
        <ul class="review-carousel related-carousel">
            {% for singlerecommendation in customrecommendations %}
     {% assign lazy_load = false %}
				  {%- if forloop.index > 2 -%}
					{%- assign lazy_load = true -%}
				  {%- endif -%}
			  
				  <li class="grid__item product-tile">
					{% render 'card-product',
					  card_product: singlerecommendation,
					  media_aspect_ratio: section.settings.image_ratio,
					  show_secondary_image: section.settings.show_secondary_image,
					  show_vendor: section.settings.show_vendor,
					  show_rating: section.settings.show_rating,
					  lazy_load: lazy_load
					%}
				  </li>     
   
            {%- endfor -%} 

                </ul>
    </div>
                    
    </div>

    {% endif %}