<div class="research-topics">
    <label>Sort by:</label>
    <input id="topi" type="radio" class="hiddenRadio" name="topicAuthor" value="Topic" checked onClick="sortBy(this.value)"><label class="inlineLabel" for="topi">Topic</label>
    <input id="auth" type="radio" class="hiddenRadio" name="topicAuthor" value="Alpha"  onClick="sortBy(this.value)"><label class="inlineLabel" for="auth">Author (A - Z)</label>
    <div class="topics" id="filterTopic">
        
            <a href="#topic1" class="topicLink">Aging/Longevity</a>
        
            <a href="#topic2" class="topicLink">Brain/Memory/Cognitive Function</a>
        
            <a href="#topic3" class="topicLink">Cancer</a>
        
            <a href="#topic4" class="topicLink">Circulatory System</a>
        
            <a href="#topic5" class="topicLink">Detox</a>
        
            <a href="#topic6" class="topicLink">Diet</a>
        
            <a href="#topic7" class="topicLink">Digestive/Excretory/Renal/Urinary Systems</a>
        
            <a href="#topic8" class="topicLink">Endocrine System (Hormones)</a>
        
            <a href="#topic9" class="topicLink">Exercise/Performance</a>
        
            <a href="#topic10" class="topicLink">Exocrine System</a>
        
            <a href="#topic11" class="topicLink">Eyes</a>
        
            <a href="#topic12" class="topicLink">Fatigue</a>
        
            <a href="#topic13" class="topicLink">Flicker</a>
        
            <a href="#topic15" class="topicLink">Hair & Nails</a>
        
            <a href="#topic16" class="topicLink">Heat Acclimation</a>
        
            <a href="#topic17" class="topicLink">Heat Therapy/Sauna</a>
        
            <a href="#topic18" class="topicLink">Immune/Lymphatic System</a>
        
            <a href="#topic19" class="topicLink">Inflammation</a>
        
            <a href="#topic20" class="topicLink">Joints</a>
        
            <a href="#topic21" class="topicLink">Learning</a>
        
            <a href="#topic22" class="topicLink">Light Therapy/Photobiomodulation</a>
        
            <a href="#topic23" class="topicLink">Lyme</a>
        
            <a href="#topic24" class="topicLink">Musculoskeletal Systems</a>
        
            <a href="#topic25" class="topicLink">Nervous System</a>
        
            <a href="#topic26" class="topicLink">Pain</a>
        
            <a href="#topic27" class="topicLink">Psychology/Stress/Mood</a>
        
            <a href="#topic28" class="topicLink">Regeneration</a>
        
            <a href="#topic29" class="topicLink">Respiratory System</a>
        
            <a href="#topic30" class="topicLink">Seizure</a>
        
            <a href="#topic31" class="topicLink">Skin</a>
        
            <a href="#topic32" class="topicLink">Sleep</a>
            <a href="#topic33" class="topicLink">Weight Loss</a>
    </div>
    <div class="topics topics-alpha hideMe" id="filterAlpha">
            <a href="#alphaA" class="topicLink topicLink-alpha">A</a>
            <a href="#alphaB" class="topicLink topicLink-alpha">B</a>
            <a href="#alphaC" class="topicLink topicLink-alpha">C</a>
            <a href="#alphaD" class="topicLink topicLink-alpha">D</a>
            <a href="#alphaE" class="topicLink topicLink-alpha">E</a>
            <a href="#alphaF" class="topicLink topicLink-alpha">F</a>
            <a href="#alphaG" class="topicLink topicLink-alpha">G</a>
            <a href="#alphaH" class="topicLink topicLink-alpha">H</a>
            <a href="#alphaI" class="topicLink topicLink-alpha">I</a>
            <a href="#alphaJ" class="topicLink topicLink-alpha">J</a>
            <a href="#alphaK" class="topicLink topicLink-alpha">K</a>
            <a href="#alphaL" class="topicLink topicLink-alpha">L</a>
            <a href="#alphaM" class="topicLink topicLink-alpha">M</a>
            <a href="#alphaN" class="topicLink topicLink-alpha">N</a>
            <a href="#alphaO" class="topicLink topicLink-alpha">O</a>
            <a href="#alphaP" class="topicLink topicLink-alpha">P</a>
            <a href="#alphaQ" class="topicLink topicLink-alpha">Q</a>
            <a href="#alphaR" class="topicLink topicLink-alpha">R</a>
            <a href="#alphaS" class="topicLink topicLink-alpha">S</a>
            <a href="#alphaT" class="topicLink topicLink-alpha">T</a>
            <a href="#alphaU" class="topicLink topicLink-alpha">U</a>            
            <a href="#alphaV" class="topicLink topicLink-alpha">V</a>           
            <a href="#alphaW" class="topicLink topicLink-alpha">W</a>           
            <a href="#alphaX" class="topicLink topicLink-alpha">X</a>            
            <a href="#alphaY" class="topicLink topicLink-alpha">Y</a>           
            <a href="#alphaZ" class="topicLink topicLink-alpha">Z</a>
        
    </div>
</div>