<link rel="stylesheet" href="{{ 'section-top-footer.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-top-footer.css' | asset_url | stylesheet_tag }}</noscript>

<div class="footer-top">
   <div class="container">
      <div class="row">
         <div class="col-4">
            <h4>Join Our Newsletter</h4>
            <p>Brighten up your inbox with the latest promotions and news.</p>
            <div class="fl-signup">
               <div class="klaviyo-form-WHMj9M"></div>
            </div>
         </div>
         <div class="col-4">
            <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/laptop_phone.png?v=1677857817" alt="download sauna space app" class="footer-app-image" lazy />
         </div>
         <div class="col-4">
            <h4>Download the App</h4>
            <p>Access additional features and<br/>
            customizable treatment times.</p>
            <div class="app-badges">
               <a href="https://apps.apple.com/us/app/heads-up-health-analytics/id1399133678">
                  <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg?v=1677858878" alt="get app on the app store" class="app-apple" lazy>
               </a>
               <a href="https://play.google.com/store/apps/details?id=com.headsuphealth.app&hl=en_US">
                  <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/google-play-badge.png?v=1677858730" alt="Get app on the google play store" lazy>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>