<link
  rel="stylesheet"
  href="{{ 'section-main-page.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{ 'component-rte.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>

<noscript>{{ "section-main-page.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "component-rte.css" | asset_url | stylesheet_tag }}</noscript>

<div class="lp-element lp-pom-root" id="lp-pom-root">
  <div id="lp-pom-root-color-overlay"></div>
  <div class="lp-positioned-content">
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-15"
      style="height: auto"
    >
      <p class="lplh-38" style="text-align: center">
        <span style="font-style: normal">
          <span style="font-weight: 700"
            ><span style="font-family: Work Sans">
              <span style="color: #ffffff"
                ><span style="font-size: 36px">HOW IT WORKS</span></span
              ></span
            ></span
          ></span
        >
      </p>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-20"
      style="height: auto"
    >
      <div class="lplh-29" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 18px">
            <span style="font-family: Roboto Mono">
              <span style="font-weight: 700; font-style: normal"
                >Tailor Your Medical Care</span
              ></span
            >
            <span style="font-family: Work Sans"
              ><span style="font-weight: 700; font-style: normal"
                ><br /></span></span></span
        ></span>
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        <span style="color: #ffffff">
          <span style="font-size: 16px">
            <span style="font-family: Work Sans"
              ><span style="color: #ffffff"
                ><span style="font-size: 16px">
                  <span style="font-weight: 400; font-style: normal"
                    >Give your healthcare team the data they need to personalize
                    their recommendations.
                  </span>
                </span></span
              ></span
            ></span
          ></span
        >
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-21"
      style="height: auto"
    >
      <div class="lplh-29" style="text-align: center">
        <span style="color: #ffffff">
          <span style="font-size: 18px"
            ><span style="font-family: Roboto Mono">
              <span style="font-weight: 700; font-style: normal"
                >Visualize Your Progress</span
              ></span
            >
            <span style="font-family: Work Sans"
              ><span style="font-weight: 700; font-style: normal"
                ><br /></span></span></span
        ></span>
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 16px"
            ><span
              style="
                font-family: Work Sans;
                font-weight: 400;
                font-style: normal;
              "
              >Get valuable insights anytime with beautiful and actionable
              visualizations.</span
            ></span
          ></span
        >
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-23"
      style="height: auto"
    >
      <div class="lplh-29" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 18px"
            ><span style="font-family: Roboto Mono"
              ><span style="font-weight: 700; font-style: normal"
                >Keep Improving</span
              ></span
            ><span style="font-family: Work Sans"
              ><span style="font-weight: 700; font-style: normal"
                ><br /></span></span></span
        ></span>
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 16px"
            ><span
              style="
                font-family: Work Sans;
                font-weight: 400;
                font-style: normal;
              "
              >Goal setting and progress monitoring help you stay
              motivated.</span
            ></span
          ></span
        >
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-39"
      style="height: auto"
    >
      <p class="lplh-38" style="line-height: 38px">
        <span style="font-style: normal"
          ><span style="font-weight: 700"
            ><span style="font-family: Work Sans"
              ><span style="color: rgb(0, 0, 0)"
                ><span style="font-size: 36px"
                  >ANTHONY KUNKEL'S STORY</span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-40"
      style="height: auto"
    >
      <div class="lplh-32">
        <span style="font-size: 20px"
          ><span style="color: #323233"
            ><span style="font-family: 'Roboto Mono'"
              ><span style="font-weight: 400; font-style: normal"
                >Getting ultramarathon-ready with SaunaSpace&nbsp;</span
              ></span
            ></span
          ></span
        ><span style="font-style: normal"
          ><span style="font-weight: 400"
            ><span style="font-family: Roboto Mono"
              ><span style="font-size: 20px"
                ><span style="color: #323233">and Heads Up Health</span></span
              ></span
            ></span
          ></span
        >
      </div>
      <div class="lplh-10"><br /></div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-49"
      style="height: auto"
    >
      <div class="lplh-26" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-family: Verdana, Geneva, sans-serif"
            ><span style="font-size: 16px; font-weight: 400; font-style: normal"
              >© 2013-2021 SaunaSpace</span
            ><span style="font-size: 16px"
              ><sup
                ><span style="font-weight: 400; font-style: normal"
                  >®</span
                ></sup
              ></span
            ></span
          ></span
        >
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-50">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img src="" alt="" loading="lazy" srcset="" />
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-51"
      style="height: auto"
    >
      <p class="lplh-24">
        <span style="color: rgb(0, 0, 0)"
          ><span style="font-family: 'Roboto Mono'"
            ><span style="font-size: 20px; font-weight: 400; font-style: normal"
              >Free 90-day membership with your SaunaSpace purchase*</span
            ></span
          ></span
        >
      </p>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-52"
      style="height: auto"
    >
      <p class="lplh-58" style="line-height: 35px">
        <span style="font-style: normal"
          ><span style="font-weight: 700"
            ><span style="font-family: Work Sans"
              ><span style="font-size: 36px"
                ><span style="color: rgb(0, 0, 0)">OPTIMIZE YOUR</span></span
              ></span
            ></span
          ></span
        ><span style="font-style: normal"
          ><span style="font-weight: 700"
            ><span style="font-family: Work Sans"
              ><span style="font-size: 36px"
                ><span style="color: rgb(0, 0, 0)"
                  >&nbsp;SAUNA SESSIONS</span
                ></span
              ></span
            ></span
          ></span
        ><span style="font-style: normal"
          ><span style="font-weight: 700"
            ><span style="font-family: Work Sans"
              ><span style="font-size: 36px"
                ><span style="color: rgb(0, 0, 0)">&nbsp;</span></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="lplh-58" style="line-height: 35px">
        <span style="font-style: normal"
          ><span style="font-weight: 700"
            ><span style="font-family: Work Sans"
              ><span style="font-size: 36px"
                ><span style="color: rgb(0, 0, 0)"
                  ><br /></span></span></span></span
        ></span>
      </p>
    </div>
    <a
      class="lp-element lp-pom-button"
      id="lp-pom-button-79"
      href="clkg/https/app.headsuphealth.com/users/sign_up?ref=saunaspace"
      target="_blank"
      ><span class="label">START YOUR FREE TRIAL</span></a
    >
    <div class="lp-element lp-pom-image" id="lp-pom-image-95">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1039039000000000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1039039000000000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_106i06i000000000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1039039000000000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_106i06i000000000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1000000000000000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1039039000000000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_106i06i000000000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1000000000000000000028.png 3x
          "
        />
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-96">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_103a03a000000000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_103a03a000000000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_106k06k000000000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_103a03a000000000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_106k06k000000000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_1000000000000000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_103a03a000000000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_106k06k000000000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_1000000000000000000028.png 3x
          "
        />
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-97">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_103a03a000000000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_103a03a000000000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_106k06k000000000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_103a03a000000000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_106k06k000000000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_1000000000000000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_103a03a000000000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_106k06k000000000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_1000000000000000000028.png 3x
          "
        />
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-103">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_106906w069069000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_106906w069069000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10ci0ds0ci0ci000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10000000e50e4000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_106906w069069000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10ci0ds0ci0ci000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10000000e50e4000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_106906w069069000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10ci0ds0ci0ci000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10000000e50e4000000028.png 3x
          "
        />
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-107"
      style="height: auto"
    >
      <div class="lplh-20">
        <span
          style="font-family: Work Sans; font-weight: 400; font-style: normal"
          ><span style="color: rgb(50, 50, 51)"
            ><span style="font-size: 16px"
              ><span style="color: rgb(50, 50, 51)"
                ><span style="font-size: 16px"
                  >I had an HRV number that was just going crazy and what I
                  found is that using the Faraday sauna gives me 10-15 more
                  points, around 200 total.</span
                ></span
              ></span
            ></span
          ></span
        >
      </div>
      <div class="lplh-20">
        <span style="font-style: normal"
          ><span style="font-weight: 400"
            ><span style="font-family: Work Sans">&nbsp;</span></span
          ></span
        >
      </div>
      <div class="lplh-20">
        <span
          style="font-family: Work Sans; font-weight: 400; font-style: normal"
          ><span style="color: rgb(50, 50, 51)"
            ><span style="font-size: 16px"
              >- Anthony Kunkel <br />Ultramarathon runner and coach
              <br /></span></span
        ></span>
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-108"
      style="height: auto"
    >
      <div class="lplh-115">
        <span style="color: rgb(198, 122, 38)"
          ><span
            style="font-family: Arial; font-style: normal; font-weight: normal"
            ><span style="font-size: 72px">“</span></span
          ></span
        >
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-116">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img src="" alt="" loading="lazy" srcset="" />
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-123"
      style="height: auto"
    >
      <p class="lplh-58" style="line-height: 38px">
        <span
          style="font-family: Work Sans; font-weight: 700; font-style: normal"
          ><span style="font-size: 36px"
            ><span style="color: rgb(0, 0, 0)">WHAT IS HEADS UP?</span></span
          ></span
        >
      </p>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-124"
      style="height: auto"
    >
      <p class="lplh-24">
        <span style="font-family: Work Sans"
          ><span style="color: rgb(0, 0, 0)"
            ><span style="font-size: 18px; font-weight: 400; font-style: normal"
              >Heads Up helps you create customized dashboards that track your
              health data over time. Measure what is most important to you and
              find out how your sauna, physical activity, diet, lifestyle, and
              more are impacting the big picture.</span
            ></span
          ></span
        >
      </p>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-126">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_10ci09d000000000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_10ci09d000000000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_10p00iq000000000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_111i0s3000000000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_107o05r000000000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_10fc0bi000000000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_10n00h9000000000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_10ci09d000000000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_10p00iq000000000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_111i0s3000000000000028.png 3x
          "
        />
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-134">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1039039000000000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1039039000000000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_106i06i000000000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1039039000000000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_106i06i000000000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1000000000000000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1039039000000000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_106i06i000000000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1000000000000000000028.png 3x
          "
        />
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-135"
      style="height: auto"
    >
      <div class="lplh-29" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 18px"
            ><span style="font-family: Roboto Mono"
              ><span style="font-weight: 400; font-style: normal"
                ><strong>Track What Matters</strong></span
              ></span
            ><span style="font-family: Work Sans"
              ><span style="font-weight: 700; font-style: normal"
                ><br /></span></span></span
        ></span>
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        <span
          style="font-family: Work Sans; font-weight: 400; font-style: normal"
          ><span style="color: #ffffff"
            ><span style="font-size: 16px"
              >Choose from dozens of advanced health metrics, including deep
              sleep, resting heart rate, and more.</span
            ></span
          ></span
        >
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-136">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_103a03a000000000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_103a03a000000000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_106k06k000000000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_103a03a000000000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_106k06k000000000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_1000000000000000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_103a03a000000000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_106k06k000000000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_1000000000000000000028.png 3x
          "
        />
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-137"
      style="height: auto"
    >
      <div class="lplh-29" style="text-align: center">
        <span
          style="font-family: Roboto Mono; font-weight: 400; font-style: normal"
          ><strong
            ><span style="color: #ffffff"
              ><span style="font-size: 18px"
                >Sync Your Devices<br /></span></span></strong
        ></span>
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 16px"
            ><span style="font-family: Work Sans"
              ><span style="color: #ffffff"
                ><span style="font-size: 16px"
                  ><span style="font-weight: 400; font-style: normal"
                    >Send data from your favorite fitness tracker straight to
                    the dashboard.
                  </span></span
                ></span
              ></span
            ></span
          ></span
        >
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-138">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_103a03a000000000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_103a03a000000000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_106k06k000000000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_103a03a000000000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_106k06k000000000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_1000000000000000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_103a03a000000000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_106k06k000000000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_1000000000000000000028.png 3x
          "
        />
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-139"
      style="height: auto"
    >
      <div class="lplh-29" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 18px"
            ><span style="font-family: Roboto Mono"
              ><span style="font-weight: 700; font-style: normal"
                >Import Your Records</span
              ></span
            ><span style="font-family: Work Sans"
              ><span style="font-weight: 700; font-style: normal"
                ><br /></span></span></span
        ></span>
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 16px"
            ><span
              style="
                font-family: Work Sans;
                font-weight: 400;
                font-style: normal;
              "
              >Centralize your medical information so you can see trends and
              relationships.</span
            ></span
          ></span
        >
      </div>
    </div>
    <a
      class="lp-element lp-pom-button"
      id="lp-pom-button-142"
      href="clkg/https/app.headsuphealth.com/users/sign_up?ref=saunaspace"
      target="_blank"
      ><span class="label">TRY IT FREE*</span></a
    >
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-153"
      style="height: auto"
    >
      <p class="lplh-58" style="line-height: 38px">
        <span style="font-style: normal"
          ><span style="font-weight: 700"
            ><span style="font-family: Work Sans"
              ><span style="font-size: 36px"
                ><span style="color: rgb(0, 0, 0)"
                  >COMPATIBLE FITNESS TRACKERS</span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-154"
      style="height: auto"
    >
      <p class="lplh-24">
        <span
          style="
            font-family: Work Sans;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
          "
          ><span style="color: rgb(0, 0, 0)"
            >Heads Up works with most major fitness trackers including Apple
            Health, Oura, Fitbit, MyFitnessPal, and more. Visit their website
            for a
            <a href="clkn/https/headsuphealth.com/integrations/"
              >full list of compatible devices</a
            >. SaunaSpace recommends fitness trackers with airplane mode for use
            with the EMF Shield in the Faraday Infrared Sauna.</span
          ></span
        >
      </p>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-162"
      style="height: auto"
    >
      <p class="lplh-58" style="line-height: 38px">
        <span style="font-style: normal"
          ><span style="font-weight: 700"
            ><span style="font-family: Work Sans"
              ><span style="font-size: 36px"
                ><span style="color: rgb(255, 255, 255)"
                  >CUSTOM HEALTH TRACKING, FREE FOR 90 DAYS*</span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-163"
      style="height: auto"
    >
      <p class="lplh-24">
        <span style="color: rgb(0, 0, 0)"
          ><span style="font-family: 'Roboto Mono'"
            ><span style="font-size: 18px; font-weight: 700; font-style: normal"
              ><a
                href="clkn/https/headsuphealth.com/integrations/"
              ></a></span></span></span
        ><span style="color: rgb(255, 255, 255)"
          ><span style="font-family: 'Roboto Mono'"
            ><span style="font-size: 18px; font-weight: 400; font-style: normal"
              >Optimize your sauna sessions and your health with Heads Up
              today.</span
            ></span
          ></span
        >
      </p>
    </div>
    <a
      class="lp-element lp-pom-button"
      id="lp-pom-button-164"
      href="clkg/https/app.headsuphealth.com/users/sign_up?ref=saunaspace"
      target="_blank"
      ><span class="label">SIGN UP NOW</span></a
    >
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-166"
      style="height: auto"
    >
      <p class="lplh-24" style="text-align: center">
        <span style="font-size: 16px"
          ><span style="font-style: normal"
            ><span style="font-weight: 400"
              ><span style="font-family: Work Sans"
                ><span style="color: rgb(0, 0, 0)"
                  ><a
                    href="clkn/https/headsuphealth.com/integrations/"
                  ></a></span
                ><span style="color: rgb(255, 255, 255)"
                  >*To qualify for a free 90 day Heads Up membership, your order
                  subtotal must be greater than $999.</span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-185">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_10bi01u000000000000028.png"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_10bi01u000000000000028.png"
          data-src-desktop-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_10n003o000000000000028.png"
          data-src-desktop-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_1000000000000000000028.png"
          data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_106y013000000000000028.png"
          data-src-mobile-2x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_10dw026000000000000028.png"
          data-src-mobile-3x="//d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_10ku039000000000000028.png"
          srcset="
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_10bi01u000000000000028.png 1x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_10n003o000000000000028.png 2x,
            //d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1115c6ec-ss-huh-combined-logo_1000000000000000000028.png 3x
          "
        />
      </div>
    </div>
    <div
      class="lp-element lp-pom-text nlh"
      id="lp-pom-text-193"
      style="height: auto"
    >
      <p class="lplh-58" style="line-height: 35px">
        <span style="font-style: normal"
          ><span style="font-weight: 700"
            ><span style="font-family: Work Sans"
              ><span style="font-size: 36px"
                ><span style="color: rgb(0, 0, 0)">WITH HEADS UP</span></span
              ></span
            ></span
          ></span
        >
      </p>
    </div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-8">
    <div id="lp-pom-block-8-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-122">
    <div id="lp-pom-block-122-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-9">
    <div id="lp-pom-block-9-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-148">
    <div id="lp-pom-block-148-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-12">
    <div id="lp-pom-block-12-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-158">
    <div id="lp-pom-block-158-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-14">
    <div id="lp-pom-block-14-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
</div>

{% schema %} { "name": "t:sections.main-page.name", "tag": "section", "class":
"section", "settings": [ { "type": "header", "content":
"t:sections.all.padding.section_padding_heading" }, { "type": "range", "id":
"padding_top", "min": 0, "max": 100, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_top", "default": 36 }, { "type": "range", "id":
"padding_bottom", "min": 0, "max": 100, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_bottom", "default": 36 } ] } {% endschema %}
