

	<div class="generic-headerBG noMargin">
		<div class="generic-header">
			<div class="gh-text">
				<h1>Shipping and Returns</h1>
				<p class="etica">We offer international shipping so you can enjoy the benefits of SaunaSpace anywhere in the world.</p>
			</div>
		</div>
	</div>

	<div class="tanBG justAnchors">
		<section>
		<div class="page-anchors">
			<a href="#us" class="page-anchor">United States</a>
			<a href="#ca" class="page-anchor">Canada</a>
			<a href="#intl" class="page-anchor">All Other Countries</a>
		</div>
		</section>
	</div>

	<section>
		<div class="genericText">
			<cms id='cms1'>
<h2>Order Tracking</h2>
<p><strong>Looking for the status of your order?</strong></p>
<p>Check your inbox for tracking details or email us at <a href="mailto:hello@sauna.space">hello@sauna.space</a>.</p>

<h2>Shipping with Signature-Required</h2>
<p><strong>Will your order ship with an Adult Signature Requirement?</strong></p>
<p>Orders that include one or more of the following items will by default ship with an Adult-Signature-Requirement (ASR), meaning someone over the age of 18 at the shipping address must sign for the packages:</p>
<ul>
<li>Photon Therapy Light</li>
<li>Tungsten Sauna Panel</li>
<li>Shower Sauna Conversion Kit</li>
<li>Luminati Infrared Sauna</li>
<li>Faraday Infrared Sauna</li>
<li>Sauna Enclosure Kit</li>
<li>EMF Shield</li>
<li>Sauna Cover Set</li>
<li>Sauna Cover Set with EMF Shield</li>
</ul>
<p>If you prefer to waive this delivery signature requirement, send us a message via chat, <a href="mailto:hello@sauna.space">email</a> or <a href="tel:15736672862">phone</a>. Keep in mind that if you waive this signature requirement, you assume responsibility for your packages as soon as your shipment is marked "Delivered" by the carrier.</p>
<p><b>Note:</b> for Adult Signature Required shipments, FedEx does not allow change of address during transit, so the shipment must be delivered to the original shipping address chosen when your order was placed.<br></p><h2 id="us">United States Shipping & Returns</h2>
<h3>Free shipping and returns over $200</h3>
<p>All orders amounting to $200 or more before tax are eligible for free FedEx Ground shipping within the contiguous US. Upgraded shipping is available at checkout for a fee.</p>
<h3>Shipping and returns under $200</h3>
<p>Orders of less than $200 before tax do not qualify for free shipping. To get an estimate for shipping to your delivery address, add your desired items to the Shopping Cart and proceed to the Shipping Address portion of the checkout to see your options. Please note that return shipping will also be subject to similar pricing. All US orders are sent via FedEx.</p>
<p>See average shipping times for <a href="http://www.fedex.com/grd/maps/ShowMapEntry.do" target="_blank">FedEx Ground deliveries</a>.</p>
<h3>How to make a return</h3>
<p>If you’re not satisfied with your order, follow these simple steps within the return period:</p>
<ul>
<li>Email us at <a href="mailto:hello@sauna.space">hello@sauna.space</a> at with your order number, the items you’re returning, and if you would like to drop off your package at FedEx or have it picked up.</li>
<li>Within two business days, we will send you a prepaid return shipping label and instructions for repackaging your items.</li>
<li>We will issue your refund, minus return shipping costs if applicable, one to five days after receipt and inspection.</li>
</ul>
<h3>More questions?</h3>
<p><a href="https://help.sauna.space/">Check out our FAQ</a></p>

<h2 id="ca">Canada Shipping & Returns</h2>
<h3>Free shipping and returns over $200</h3>
<p>All orders amounting to $200 or more before tax are eligible for free FedEx Ground shipping within Canada. Upgraded shipping is available at checkout for a fee.</p>

<h3>Shipping costs</h3>
<p>Orders of less than $200 before tax do not qualify for free shipping. To get an estimate for shipping to your delivery address, add your desired items to the Shopping Cart and proceed to the Shipping Address portion of checkout to see your options. Please note that return shipping will also be subject to similar pricing. All Canadian orders are sent via FedEx.</p>
<p>See average shipping times for <a href="http://www.fedex.com/grd/maps/ShowMapEntry.do" target="_blank">FedEx Ground deliveries</a>.</p>

<h3>How to make a return</h3>
<p>If you’re not satisfied with your order, follow these simple steps within the return period:</p>
<ul>
<li>Email us at <a href="mailto:hello@sauna.space">hello@sauna.space</a>  with your order number, the items you’re returning, and if you would like to drop off your package at FedEx or have it picked up.</li>
<li>Within two business days, we will send you a prepaid return shipping label and instructions for repackaging your items.</li>
<li>We will issue your refund, minus return shipping costs if applicable, one to five days after receipt and inspection.</li>
</ul>

<h3>Taxes, fees, and customs</h3>
<p>SaunaSpace&nbsp;now collects Canadian sales tax, customs duty, or related handling fees on your behalf.</p>

<h3>Looking for the status of your order?</h3>
<p>Check your inbox for tracking details or email us at <a href="mailto:support@sauna.space">hello@sauna.space</a>.

</p><h3>More questions?</h3>
<p><a href="https://help.sauna.space/">Check out our FAQ</a></p>


<h2 id="intl">International Shipping & Returns</h2>
<h3>Shipping costs</h3>
<p>International orders can be shipped via FedEx International Economy, FedEx International Priority, or DHL Express. To get an estimate for shipping costs to your delivery address, add your desired items to the Shopping Cart and proceed to the Shipping Address portion of checkout to see your options. Please note that return shipping will also be subject to similar costs.</p>
<h3>Customer-arranged shipping</h3>
<p>If your order is going outside the US or Canada, you may choose your own carrier using the "customer-arranged shipping" option. Your receipt from SaunaSpace will show no charge for shipping because you will be assuming the cost and responsibility of all aspects of your shipment.</p>
<p>This includes:</p>
<ul>
<li>Choosing a courier</li>
<li>Scheduling pickup once your order is ready</li>
<li>Providing a barcode label from your courier</li>
<li>Providing a signed customs invoice</li>
</ul>
<p>Customer-arranged shipments should be picked up Monday through Friday between 8 a.m. and 5 p.m. CT, excluding holidays, from our shop:</p>
<p>SaunaSpace<br>
1330 E Prathersville Rd<br>
Columbia, MO 65202 USA</p>

<h3>How to make a return</h3>
<p>If you’re not satisfied with your order, follow these simple steps within the return period:</p>
<ul>
<li>Email us at <a href="mailto:sales@sauna.space">hello@sauna.space</a> with your order number, the items you’re returning, and if you would like to drop off your package or arrange pickup (if available).</li>
<li>Within two business days, we will send you a prepaid return shipping label and instructions for repackaging your items.</li>
<li>We will issue your refund, minus return shipping costs if applicable, one to five days after receipt and inspection. </li>
</ul>

<h3>Taxes and Customs</h3>
<p>SaunaSpace&nbsp;automatically collects taxes, customs duty,&nbsp;and related handling fees on your behalf during checkout. Please&nbsp;note that this service is not currently offered for shipment to the following countries:</p>
<p>Africa</p>
<ul>
<li>Republic of Cabo Verde (CV)</li>
<li>Republic of the Sudan (SD)</li>
<li>Republic of South Sudan (SS)</li>
<li>Federal Republic of Somalia (SO)</li>
</ul>
<p>Antarctica</p>
<ul>
<li>South Georgia and the South Sandwich Islands (GS)</li>
</ul>
<p>Asia</p>
<ul>
<li>Republic of Iraq (IQ)</li>
<li>Syrian Arab Republic (SY)</li>
<li>Democratic Republic of Timor-Leste (East Timor) (TL)</li>
<li>Turkmenistan (TM)</li>
</ul>
<p>Europe</p>
<ul>
<li>Northern Ireland (XI)</li>
<li>Russian Federation (RUS)</li>
</ul>
<p>Oceania</p>
<ul>
<li>Federated States of Micronesia (FM)</li>
<li>Republic of the Marshall Islands (MH)</li>
<li>Republic of Palau (PW)</li>
</ul>
<p>North America</p>
<ul>
<li>Territorial Collectivity of Saint-Pierre and Miquelon (PM)</li>
<li>Commonwealth of Puerto Rico (PR)</li>
</ul>
<p>South America</p>
<ul>
<li>Federative Republic of Brazil (BR)</li>
<li>Falkland Islands (FK)</li>
</ul>
<p>For these aforementioned countries, we ship DDU (Deliver-Duty-Unpaid) meaning you will need to pay your own customs duties, VAT and associated fees after arrival of your shipment to your country and before final delivery.</p>
<h3>Looking for the status of your order?</h3>
<p>Check your inbox for tracking details or email us at <a href="mailto:hello@sauna.space">hello@sauna.space</a>.

</p><h3>More questions?</h3>
<p><a href="https://help.sauna.space/">Check out our FAQ</a></p>


<h2>100-Day Home Trial Limitations</h2>
<p>Please be aware of the specifics of our 100-Day Home Trial:</p>
<ul>
<li>Claims for items missing or damaged in transit must be received within five (5) business days of receipt of product.</li>
<li>Refunds on returned products will only be issued to the original payment method.</li>
<li>We are not responsible for damaged packages. But, if the shipping carrier damages your packages, we will handle the claim process for you and arrange for replacement items to be sent to you.</li>
<li>We are also not responsible for lost packages. That's why we ship Signature-Required by default. If you elect to have your shipment delivered without a signature requirement, it is your responsibility once the shipment is marked delivered by the carrier.</li>
<li>All returned or exchanged items will be inspected upon return:
  <ul>
    <li>Items returned to us in “like-new” condition will be fully refunded.</li><li>Do not wash any fabric products; washed items are not eligible to be returned.</li>
    <li>Identified damages due to user abuse or improper packing may result in prorated reduction of refund amount.</li><li>Failure to use towels to prevent sweat from reaching the product may lead damage that may result in prorated reduction of refund amount. This is relevant for purchases that include a Bamboo Grounding Mat, such as Luminati Infrared Sauna, Faraday Infrared Sauna and Sauna Enclosure Kit. Refer to our <a href="https://go.sauna.space/sauna-manual" target="_blank">Sauna Operation Manual</a>.</li>
  </ul>
</li>
<li>We are not responsible for personal data or items left in returned merchandise.</li>
<li>We are not responsible for any consequential or incidental damage resulting from the sale or use of any product bought from us. We are responsible for the monetary value of the product only.</li>
<li>You must complete your return drop-off or pickup within fourteen (14) days of receipt of your return ship labels. Otherwise, your return request will be canceled.</li>
</ul>

<h3>More questions?</h3>
<p><a href="https://help.sauna.space/warranty-and-returns">Check out our FAQ</a></p></cms cms1>
			
		</div>
	</section>




{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
