     <div style="width: 100%; max-width: 1200px; padding: 12px 15px; margin: 0 auto;">
         <div>
             <script  type="text/javascript" src="https://forms.smsbump.com/211169/form_37927.js?ver=1684362282"></script>
         </div>
     </div>
     {% schema %}
     {
       "name": "SMSBump Embedded Form",
       "settings": [
         {
           "type" : "paragraph",
           "content" : "To edit your Embedded Form, go to [SMSBump](https://smsbump.yotpo.com/sms/) and open your Embedded Form. Save your updated form and refresh this page."
         }
       ],
       "presets": [
         {
           "name": "SMSBump Embedded Form",
           "category": "Subscription Embed Forms"
         }
       ]
     }
     {% endschema %}
     {% stylesheet %}
     {% endstylesheet %}
     {% javascript %}
     {% endjavascript %}