
	<div class="generic-headerBG noMargin">
		<div class="generic-header">
			<div class="gh-text">
				<cms id='cms0'>

<h1>Our Guarantee</h1>
<p class="etica">Your purchase is an investment in a healthier, happier future. That’s why we build durable products with quality materials. Although you’ll probably never need it, our generous warranties are there for your peace of mind, just in case.</p>
</cms cms0>
			</div>
		</div>
	</div>

<div class="tanBG">
	<section>
		<div class="warranty-box">
			<cms id='cms1'>


<h2>How it Works</h2>
<p>In the unlikely event that your SaunaSpace product breaks down, we’ll cover the cost of repairs during the course of your warranty. You only pay shipping.</p>
<p class="etica-bold">Email us</p>
<p>Contact <a href="mailto:hello@sauna.space">hello@sauna.space</a> and tell us about the problem.</p>
<p class="etica-bold" style="margin-top: 2em;">Easy fix</p>
<p>Once we get your items, we’ll repair or replace them in 5 to 15 business days.</p>
</cms cms1>
		</div>
	</section>
</div>

<section>
	<h2>Warranty by Product</h2>
	<div class="warranty-cols">
		<div class="warranty-col">
			<cms id='cms2a'>
			<h3>10-Year Warranty</h3>
			<ul>
				<li>Faraday Infrared Sauna</li>
				<li>Luminati Infrared Sauna</li>
				<li>Tungsten Infrared Sauna Panel</li>
				<li>Photon Infrared Therapy Light</li>
				<li>Shower Sauna Conversion Kit</li>
				<li>Tungsten Pedestal</li>
				<li>Sauna Stool</li>
				<li>Sauna Enclosure Kit</li>
				<li>Photon Desk Arm</li>
				<li>Photon Soft Case</li>
				<li>Sauna Cover Set</li>
			</ul>
			</cms cms2a>
		</div>
		<div class="warranty-col">
			<cms id='cms2b'>

<h3>5-Year Warranty</h3>
<ul>
<li>EMF Shield</li>
</ul>
<h3>2-Year Warranty</h3>
<ul>
<li>ThermaLight® Bulb*</li>
</ul>
<h3>No Warranty</h3>
<ul>
<li>SaunaSpace Merchandise</li>
<li>Third-Party Products</li>
</ul>
</cms cms2b>
		</div>

		</div>
	</div>
</section>

<section>
	<cms id='cms3'>

<p class="fineprint">*Two-year warranty applies to ThermaLight® Bulbs when used as intended in SaunaSpace products. For all other uses of ThermaLight® Bulbs, warranty is limited to one year. When you make a warranty claim, SaunaSpace may ask for proof of purchase of accompanying SaunaSpace products before processing the claim.</p>
</cms cms3>
</section>

<div class="divider"></div>

<section>
<div class="legalText">
<cms id='cms4'>

<h2>WARRANTY INFORMATION</h2>
<p>SaunaSpace recognizes that certain naturally varying materials such as wood, cotton, bamboo, and glass used in its Products (hereafter referred to as "Products") have naturally occurring blemishes, minor imperfections, weave asymmetry. These naturally occurring irregularities are not considered defects in materials for the purpose of this warranty, providing they do not adversely affect the functionality of the Product.</p><p>SaunaSpace warrants to the original consumer purchaser that its Products will be free from defects in materials and workmanship appearing under normal individual consumer use for each respective Product as set forth in the Warranty Tier chart above. SaunaSpace provides no warranty for any Product, part, or item not listed in the Warranty Tier chart above.</p><p>This warranty does not cover damage to Products caused by abuse, acts of God, mishandling, unauthorized repair, or your failure to consult a licensed health care provider regarding proper use of this Product.</p><p>THIS WARRANTY IS IN LIEU OF ALL OTHER EXPRESS WARRANTIES; AND ANY IMPLIED WARRANTIES, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR PARTICULAR PURPOSE, ARE LIMITED TO THE DURATION OF THIS WARRANTY. IN NO EVENT WILL SAUNASPACE® BE LIABLE FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES.</p><p>Some states do not allow limitations on how long an implied warranty lasts and/or the exclusion or limitation of incidental or consequential damages, so the above limitation and/or the above exclusion may not apply to you. This warranty gives you specific legal rights, and you may also have other rights which vary from state to state. As its sole responsibility and your sole remedy for any warranted defect, SaunaSpace® will repair or replace any defective part of its Products, containing a warranted defect, free of charge, and with notification within a reasonable period of time (but no longer than 6 months) following the discovery of such defect.</p>
</cms cms4>
</div>
</section>



{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
