.shopify-policy__container {
  max-width: 156rem;
  padding-top: 5rem;
}

.shopify-pc__banner__dialog button.shopify-pc__banner__btn-accept,
.shopify-pc__banner__dialog button.shopify-pc__banner__btn-decline,
.shopify-pc__prefs__header-actions button {
  border-radius: 2.7rem!important;
  transition-property: background-color,color,border-color;
  transition-duration: var(--duration-default);
  text-transform: uppercase;
  font-weight: var(--font-buttons-weight);
}

.shopify-pc__banner__dialog button.shopify-pc__banner__btn-accept:hover,
.shopify-pc__banner__dialog button.shopify-pc__banner__btn-decline:hover,
.shopify-pc__prefs__header-actions button:hover {
  background: hsl(0deg, 0%, 100%, 87%);
  color: hsl(0deg, 0%, 12%, 100%);
}

.back-to-top {
  position: fixed;
  bottom: 108px;
  right: 34px;
 width:58px;
height:58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, visibility 0.35s ease, transform 0.3s ease;
  z-index: 9999;
  background-color:#f4f0e0;
 
     
}
.back-to-top svg {
transform:rotate(90deg);

}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.back-to-top:hover {
  transform: scale(1.1);
}

.color-red {
  color: var(--color-red);
}

.color-background-red {
  background-color: var(--color-red);
}

.color-background {
  background-color: var(--color-background-accent);
}

.color-background-primary {
  background-color: var(--color-background-primary);
}

.color-background-secondary {
  background-color: var(--color-background-secondary);
}

.color-subdued {
  color: var(--color-subdued);
}

.color-background-subdued {
  background-color: var(--color-subdued);
}

html {
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + var(--promo-bar-height));
}

body {
  color: var(--color-paragraphs);
  background-color: var(--color-background-body);
  display: flex;
  flex-direction: column;
  min-width: 32rem;
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  line-height: calc(1 + 1.4 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: calc(var(--fsbase) * 1.6);
  background: var(--color-background-body);
}

@media screen and (max-width: 749px) {
  body {
    font-size: calc(var(--fsbase) * 1.2);
  }
}

#shopify-section-footer,
#shopify-section-main-password-footer {
  margin-top: auto;
}

.no-js:not(html) {
  display: none !important;
}

html.no-js .no-js:not(html) {
  display: block !important;
}

.no-js-inline {
  display: none !important;
}

html.no-js .no-js-inline {
  display: inline-block !important;
}

html.no-js .no-js-hidden {
  display: none !important;
}

.container {
  max-width: var(--page-width);
  padding: 0 var(--page-gutter);
  margin: 0 auto;
}

.container--narrow {
  max-width: calc(var(--page-width) * 0.65);
}

.container--small {
  max-width: calc(var(--page-width) * 0.5);
}

.container--extra-large {
  --page-width: 182rem;
}

.container--fullwidth {
  max-width: none;
}

.container--margin,
.shopify-challenge__container {
  margin: 7rem auto;
}

.container--full-left {
  margin-left: 0;
}

.container--full-right {
  margin-right: 0;
}

@media screen and (max-width: 989px) and (min-width: 360px) {
  .container--gutter-mobile {
    --page-gutter: 4rem;
  }
}

.relative {
  position: relative;
  z-index: 1;
}

.isolate {
  position: relative;
  z-index: 0;
}

.rte-width {
  max-width: 93.6rem;
  margin: 0 auto;
}

li:empty {
  display: none;
}

.center ul:not([class]):not(.rte ul) {
  width: fit-content;
  margin-inline: auto;
  text-align: initial;
}

.right ul:not([class]):not(.rte ul) li {
  text-align: right;
  list-style-type: none;
  padding-right: 2rem;
  position: relative;
}

.right ul:not([class]):not(.rte ul) li:not(:empty):after {
  content: '•';
  position: absolute;
  top: 0;
  right: 0;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.list-flex--center {
  justify-content: center;
}

.list-flex--justify {
  justify-content: space-between;
}

.list-flex > * {
  padding: 0 1rem;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex--grid {
  --items-horizontal-spacing: 0.8rem;
  --items-vertical-spacing: 0.8rem;
  --items-width: 100%;

  gap: var(--items-vertical-spacing) 0;
  margin: 0 calc(0rem - var(--items-horizontal-spacing) / 2);
}

.flex--grid > * {
  padding: 0 calc(var(--items-horizontal-spacing) / 2);
  flex: 0 0 var(--items-width);
  max-width: var(--items-width);
}

.flex--justify {
  justify-content: space-between;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-end {
  justify-content: flex-end;
}

.flex--center {
  align-items: center;
}

.flex--direction-column {
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.block {
  display: block;
}

@media screen and (max-width: 749px) {
  .small-hide {
    display: none !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .medium-hide {
    display: none !important;
  }
}

/*@media screen and (min-width: 990px) {*/
@media screen and (min-width: 989.2px) {
  .large-up-hide {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
.sr-only, .fa-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.overflow-hidden {
  overflow: hidden;
}



:root {
  --promo-bar-height: 0px;
  --header-height: 98px;
  --header-height-sticky: 80px;
  /* - Moved to settings.liquid
  --fsbase: 8.5px;
  --font-heading-scale: .85;
  */
}
@media screen and (max-width: 989px) {
  :root {
    --header-height: 75px;
    --header-height-sticky: 64px;
  }
}
body:not(:has(.header--transparent)) #MainContent {
  padding-top: var(--header-height);/*calc(var(--header-height) + var(--promo-bar-height));*/
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

.full-width-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

::selection {
  background-color: var(--color-subdued);
}

[data-oke-widget] .okeReviews::before,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 7.2rem);
  line-height: calc(1.19 / var(--font-heading-scale));
}

/* Small desktop */
@media (max-width: 1279px) {

  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 6rem);
    line-height: calc(1.25 / var(--font-heading-scale));
  }
}

@media only screen and (max-width: 749px) {

  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 2.8rem);
    line-height: calc(1.14 / var(--font-heading-scale));
  }
}

[data-oke-widget] .okeReviews::before,
h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 6rem);
  line-height: calc(1.14 / var(--font-heading-scale));
}

/* Large desktop */
@media (min-width: 1280px) {
  .h2-small-desktop {
    font-size: calc(var(--font-heading-scale) * 5.4rem);
    line-height: calc(1.334 / var(--font-heading-scale));
  }
}

/* Small desktop */
@media (max-width: 1279px) {

  [data-oke-widget] .okeReviews::before,
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 4.8rem);
    line-height: calc(1.25 / var(--font-heading-scale));
  }
}

@media only screen and (max-width: 749px) {

  [data-oke-widget] .okeReviews::before,
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2.8rem);
    line-height: calc(1.25 / var(--font-heading-scale));
  }
}

h3,
.h3 {
  font-size: calc(var(--font-heading-scale) * 4.8rem);
  line-height: calc(1.25 / var(--font-heading-scale));
}

/* Small desktop */
@media (max-width: 1279px) {

  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 3.6rem);
    line-height: calc(1.25 / var(--font-heading-scale));
  }
}

@media only screen and (max-width: 749px) {

  h3,
  .h3 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
    line-height: calc(1.33 / var(--font-heading-scale));
  }
}

h4,
.h4 {
  font-size: calc(var(--font-heading-scale) * 4.2rem);
  line-height: calc(1.43 / var(--font-heading-scale));
}

/* Small desktop */
@media (max-width: 1279px) {

  h4,
  .h4 {
    font-size: calc(var(--font-heading-scale) * 3.6rem);
    line-height: calc(1.25 / var(--font-heading-scale));
  }
}

@media only screen and (max-width: 749px) {

  h4,
  .h4 {
    font-size: calc(var(--font-heading-scale) * 2rem);
    line-height: calc(1.6 / var(--font-heading-scale));
  }
}

h5,
.h5 {
  font-size: calc(var(--font-heading-scale) * 2.8rem);
  line-height: calc(1.33 / var(--font-heading-scale));
}

/* Small desktop */
@media (max-width: 1279px) {

  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
    line-height: calc(1.25 / var(--font-heading-scale));
  }
}

@media only screen and (max-width: 749px) {

  h5,
  .h5 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
    line-height: calc(1.77 / var(--font-heading-scale));
  }
}

h6,
.h6 {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
  line-height: calc(1.6 / var(--font-heading-scale));
}

/* Small desktop */
@media (max-width: 1279px) {

  h6,
  .h6 {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
    line-height: calc(1.25 / var(--font-heading-scale));
  }
}

@media only screen and (max-width: 749px) {

  h6,
  .h6 {
    font-size: calc(var(--font-heading-scale) * 1.2rem);
    line-height: calc(1.5 / var(--font-heading-scale));
  }
}

.sh {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  line-height: calc(1.33 / max(1, var(--font-heading-scale)));
}

.sh--1 {
  font-size: calc(var(--font-heading-scale) * 1.8rem);
}

.sh--2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
  line-height: calc(1.5 / max(1, var(--font-heading-scale)));
}

.sh--3 {
  font-size: calc(var(--font-heading-scale) * 1.4rem);
  line-height: calc(1.14 / max(1, var(--font-heading-scale)));
}

.p1 {
  line-height: calc(1.33 / max(1, var(--font-body-scale)));
}

.p1 {
  font-size: calc(var(--font-body-scale) * 2rem);
}

.p2 {
  font-size: calc(var(--font-body-scale) * 1.7rem);
  line-height: calc(1.41 / max(1, var(--font-body-scale)));
}

.p3 {
  font-size: calc(var(--font-body-scale) * 1.6rem);
  line-height: calc(1.75 / max(1, var(--font-body-scale)));
}

blockquote {
  font-style: italic;
  border-left: 0.2rem solid var(--color-border);
  padding-left: 1.5rem;
}

@media screen and (max-width: 749px) {
  blockquote {
    padding-left: 1rem;
  }
}

.caption {
  font-size: calc(var(--fsbase) * 1.4);
  letter-spacing: 0.04rem;
  line-height: calc(1 + 0.71 / var(--font-body-scale));
}

.caption--small {
  font-size: calc(var(--fsbase) * 1.2);
}

table:not([class]) {
  table-layout: fixed;
  border-style: hidden;
  box-shadow: 0 0 0 0.1rem var(--color-border);
}

table:not([class]) td,
table:not([class]) th {
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--color-border);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.spacer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.link {
  cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness ease var(--duration-short);
}

.link svg {
  vertical-align: middle;
}

.link:hover {
  text-decoration-thickness: 0.2rem;
}

hr {
  border: none;
  height: 0.1rem;
  background-color: var(--color-border);
  display: block;
  margin: 7rem 0;
}

@media screen and (max-width: 749px) {
  hr {
    margin: 5rem 0;
  }
}

.full-unstyled-link {
  text-decoration: none;
  color: currentColor;
  display: block;
}

.inline-unstyled-link {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

details > * {
  box-sizing: border-box;
}

.break {
  word-break: break-word;
}

.visibility-hidden {
  visibility: hidden;
}

html.motion-reduce * {
  transition: none !important;
  animation: none !important;
}

@media (prefers-reduced-motion) {
  .motion-reduce {
    transition: none !important;
    animation: none !important;
  }
}

summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

.disclosure-has-popup {
  position: relative;
}

.disclosure-has-popup[open] > summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  cursor: default;
  content: ' ';
  background: transparent;
}

.disclosure-has-popup > summary::before {
  display: none;
}

.disclosure-has-popup[open] > summary + * {
  z-index: 100;
  position: relative;
}

@media screen and (min-width: 750px) {
  .disclosure-has-popup[open] > summary + * {
    z-index: 4;
  }

  .facets .disclosure-has-popup[open] > summary + * {
    z-index: 2;
  }
}

*:focus {
  outline: 0;
  box-shadow: none;
}

*:focus-visible {
  outline: 0.2rem solid currentColor;
  outline-offset: 0.3rem;
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused,
.no-js *:focus {
  outline: 0.2rem solid currentColor;
  outline-offset: 0.3rem;
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
.no-js *:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/*
  Focus ring - inset
*/

.focus-inset:focus-visible {
  outline: 0.2rem solid currentColor;
  outline-offset: -0.2rem;
}

.focused.focus-inset,
.no-js .focus-inset:focus {
  outline: 0.2rem solid currentColor;
  outline-offset: -0.2rem;
}

.no-js .focus-inset:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/*
  Focus ring - none
*/

/* Dangerous for a11y - Use with care */
.focus-none {
  box-shadow: none !important;
  outline: 0 !important;
}

.focus-offset:focus-visible {
  outline: 0.2rem solid currentColor;
  outline-offset: 1rem;
}

.focus-offset.focused,
.no-js .focus-offset:focus {
  outline: 0.2rem solid currentColor;
  outline-offset: 1rem;
}

.no-js .focus-offset:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/* Grid */

.grid {
  display: grid;
  gap: var(--spacing-grid-row) var(--spacing-grid-col);
}

.grid--center {
  align-items: center;
}

.grid--no-column-gap {
  column-gap: 0;
}

.grid--reverse {
  direction: rtl;
}

.grid--reverse > * {
  direction: initial;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5 {
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 749px) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--spacing-grid-row-mobile) var(--spacing-grid-col-mobile);
  }
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-grid-row) var(--spacing-grid-col);
}

.flex-grid--no-column-gap {
  column-gap: 0;
}

.flex-grid--reverse {
  flex-direction: row-reverse;
}

.flex-grid--2 .flex__item {
  flex: 0 0 calc(50% - var(--spacing-grid-col));
}

.flex-grid--3 .flex__item {
  flex: 0 0 calc(33.33% - var(--spacing-grid-col));
}

.flex-grid--4 .flex__item {
  flex: 0 0 calc(25% - var(--spacing-grid-col));
}

.flex-grid--5 .flex__item {
  flex: 0 0 calc(20% - var(--spacing-grid-col));
}

.flex-grid--auto-grow .flex__item {
  flex-grow: 1;
}

@media screen and (max-width: 749px) {
  .flex-grid {
    gap: var(--spacing-grid-row-mobile) var(--spacing-grid-col-mobile);
  }

  .flex-grid .flex__item {
    flex: 0 0 100%;
  }
}

img {
  width: auto;
  max-width: 100%;
}

a:not([class]) {
  color: currentColor;
  will-change: opacity;
  transition: opacity var(--duration-default);
}

@media (hover: hover) and (pointer: fine) {
  a:not([class]):hover {
    opacity: 0.6;
  }
}

.media {
  display: block;
  background-color: var(--color-background-media);
  position: relative;
  color: var(--color-paragraphs);
  overflow: hidden;
}

.media--rounded {
  border-radius: 1rem;
}

.media--rounded-small {
  border-radius: 0.5rem;
}

.media--rounded-large {
  border-radius: 2rem;
}

.media--transparent {
  background-color: transparent;
}

.media > * {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

a.media {
  transition: opacity var(--duration-default);
}

@media (hover: hover) and (pointer: fine) {
  a.media:hover {
    opacity: 0.7;
  }
}

.media > img,
.media > iframe {
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out,
    transform 0.8s ease-in-out;
}

.media video {
  object-fit: cover;
}

.media--1-1 {
  padding-bottom: 100%;
}

.media--portrait {
  padding-bottom: 120%;
}

.media--3-4 {
  padding-bottom: 75%;
}

.media--16-9 {
  padding-bottom: 56.25%;
}

.media--circle {
  padding-bottom: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 750px) {
  .media--mobile-2-4 {
    padding-bottom: 50%;
  }
}

.media--aspect-ratio {
  padding-bottom: 0;
}

.media--aspect-ratio img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: static;
}

.media .lazyload,
.media .lazyloading {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
}

.media .lazyloaded {
  opacity: 1;
  visibility: inherit;
  transform: scale(1);
}

deferred-media {
  display: block;
  border-radius: 2.4rem;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  deferred-media {
    border-radius: 1rem;
  }
}

.deferred-media__button {
  display: block;
  width: 100%;
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  position: relative;
}

.deferred-media .media {
  aspect-ratio: 1520 / 760;
}

@media screen and (max-width: 749px) {
  .deferred-media .media {
    aspect-ratio: 313 / 157;
  }
}

.deferred-media[loaded] .deferred-media__button {
  display: none;
}

.deferred-media__button svg {
  background-color: #f4f0e0;
  width: 9.2rem;
  height: 9.2rem;
  padding: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1023px) {
  .deferred-media__button svg {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
  }
}

.deferred-media iframe,
.deferred-media video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.deferred-media__wrapper {
  aspect-ratio: 1520 / 760;
  position: relative;
}

@media screen and (max-width: 749px) {
  .deferred-media__wrapper {
    aspect-ratio: 313 / 157;
  }
}

.button,
.shopify-challenge__button,
button.shopify-payment-button__button--unbranded,
.shopify-payment-button [role='button'],
.cart__dynamic-checkout-buttons [role='button'],
.cart__dynamic-checkout-buttons iframe {
  min-width: 17.8rem;
  max-width: 100%;
  height: 5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0 1.7rem;
  cursor: pointer;
  font-family: var(--font-buttons-family);
  font-weight: var(--font-buttons-weight);
  font-style: var(--font-buttons-style);
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-solid-button);
  background-color: var(--color-solid-button-background);
  border: 0.2rem solid transparent;
  border-radius: 2.7rem;
  position: relative;
  transition-property: background-color, color, border-color;
  transition-duration: var(--duration-default);
  -webkit-appearance: none;
  appearance: none;
}

.shopify-challenge__container .shopify-challenge__button {
  margin: 2rem auto 0;
}

.button--full {
  display: flex;
  width: 100%;
}

.button--secondary {
  color: var(--color-solid-button-alt);
  border-color: var(--color-solid-button-background-alt);
  background-color: var(--color-solid-button-background-alt);
}

.button--outlined {
  background-color: transparent;
  color: var(--color-outline-button);
  border-color: var(--color-outline-button-border);
}

.button--orange {
  border-color: #ff3a00;
  background-color: #ff3a00;
  color: #f0e7da;
}

.button--blurred {
  backdrop-filter: blur(5px);
  border: none;
  background-color: rgba(240, 231, 218, 0.35);
  color: #f4f0e0;
}

.button--secondary-outlined {
  background-color: transparent;
  color: var(--color-solid-button-background-alt);
  border-color: var(--color-solid-button-background-alt);
}

@media screen and (min-width: 750px) {
  .button--large-desktop {
    height: 5.3rem;
  }
}

@media screen and (max-width: 749px) {

  .button,
  .shopify-challenge__button,
  button.shopify-payment-button__button--unbranded,
  .shopify-payment-button [role='button'],
  .cart__dynamic-checkout-buttons [role='button'],
  .cart__dynamic-checkout-buttons iframe {
    min-width: 14.5rem;
    height: 3.9rem;
    padding: 0 2rem;
    font-size: calc(var(--fsbase) * 1.2);
  }
}

@media (hover: hover) and (pointer: fine) {

  .button:hover,
  .shopify-challenge__button:hover,
  button.shopify-payment-button__button--unbranded:hover,
  .shopify-payment-button [role='button']:hover,
  .cart__dynamic-checkout-buttons [role='button']:hover {
    color: var(--color-solid-button-background);
    background-color: var(--color-solid-button);
    border-color: currentColor;
  }

  .button--secondary:hover {
    color: var(--color-solid-button-background-alt);
    background-color: var(--color-solid-button-alt);
  }

  .button--secondary-outlined:hover {
    color: var(--color-solid-button-alt);
    background-color: var(--color-outline-button-hover);
    border-color: var(--color-solid-button-alt);
  }

  .button--outlined:hover {
    color: var(--color-outline-button-hover);
    background-color: var(--color-outline-button-border);
    border-color: transparent;
  }

  .button--orange:hover {
    background-color: transparent;
    color: #f0e7da;
    border-color: #f0e7da;
  }

  .button--blurred:hover {
    background-color: rgb(240, 231, 218);
    color: #2c2621;
  }

  .button--orange-hover:hover {
    border-color: #ff3a00;
    background-color: #ff3a00;
    color: #f0e7da;
  }
}

.button:disabled,
.button.disabled,
.button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.shopify-payment-button__button--branded {
  z-index: auto;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.form-row--double {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 749px) {
  .form-row--double {
    grid-template-columns: 1fr;
  }
}

.form-row + .form-row:not(.form-row--actions) {
  margin-top: 3.2rem;
}

.form-row--actions {
  margin-top: 2.5rem;
}

@media screen and (max-width: 767px) {
  .form-row + .form-row:not(.form-row--actions) {
    margin-top: 2.4rem;
  }

  .form-row--actions {
    margin-top: 0.8rem;
  }
}

.field {
  position: relative;
}

.field__label {
  display: block;
  cursor: pointer;
  margin: 0 0 2rem;
  line-height: 1;
  font-size: calc(var(--fsbase) * 2.1);
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .field__label {
    font-size: calc(var(--fsbase) * 1.6);
    margin-bottom: 1.2rem;
  }
}

.field__input {
  font: inherit;
  color: var(--color-paragraphs);
  background-color: transparent;
  width: 100%;
  height: 7.5rem;
  padding: 0 1rem;
  border: 0.1rem solid #C4C4C4;
  border-radius: 1rem;
  -webkit-appearance: none;
  appearance: none;
  transition: border-color var(--duration-default);
}

@media screen and (max-width: 1599px) {
  .field__input {
    height: 5rem;
  }
}

.field__input:focus-visible {
  border-color: currentColor;
}

.field--textarea .field__input {
  font-weight: 600;
  height: auto;
  min-height: 22.5rem;
  padding: 1.5rem 2.9rem;
  resize: vertical;
  font-size: calc(var(--fsbase) * 1.7);
}

@media screen and (max-width: 1599px) {
  .field--textarea .field__input {
    min-height: 15rem;
  }
}

@media screen and (max-width: 767px) {
  .field--textarea .field__input {
    padding: 1.2rem 2rem;
    font-size: calc(var(--fsbase) * 1.2);
  }
}

.field__error {
  color: var(--color-red);
  margin: 0.5rem 0 0;
}


.radio input {
  appearance: none;
  position: absolute;
}

.radio input:focus {
  outline: none;
}

.radio label {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.radio label:before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid #707070;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color var(--duration-short) ease,
    border-color var(--duration-short) ease;
}

.radio input:checked ~ label:before {
  background-color: #FF3A00;
  border-color: #FF3A00;
}

.radio input:focus-visible ~ label:before {
  outline: 0.2rem solid currentColor;
  outline-offset: 0.3rem;
}

.checkbox input {
  appearance: none;
  position: absolute;
}

.checkbox input:focus {
  outline: none;
}

.checkbox label {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  position: relative;
}

.checkbox label:before {
  content: '';
  width: 1.8rem;
  height: 1.8rem;
  border: 0.1rem solid #707070;
  background-color: transparent;
  transition: background-color var(--duration-short) ease,
    border-color var(--duration-short) ease;
}

.checkbox input:checked ~ label:before {
  background-color: #FF3A00;
  border-color: #FF3A00;
}

.checkbox input:focus-visible ~ label:before {
  outline: 0.2rem solid currentColor;
  outline-offset: 0.3rem;
}


quantity-input {
  display: block;
}

.quantity {
  color: var(--color-paragraphs);
  position: relative;
  width: 5rem;
}

.quantity__wrapper {
  display: flex;
}

.quantity__input,
.quantity__button {
  font-size: calc(var(--fsbase) * 1.4);
  font-weight: 700;
}

.quantity__input {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  width: 2rem;
  flex-grow: 0;
  -webkit-appearance: none;
  appearance: none;
}

.quantity__button {
  width: 1rem;
  flex-shrink: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.quantity__button:first-child {
  margin-right: 0.5rem;
}

.quantity__button:last-child {
  margin-left: 0.5rem;
}

.quantity__button svg {
  pointer-events: none;
}

.quantity__input:-webkit-autofill,
.quantity__input:-webkit-autofill:hover,
.quantity__input:-webkit-autofill:active {
  box-shadow: 0 0 0 10rem var(--color-background-secondary) inset !important;
  -webkit-box-shadow: 0 0 0 10rem var(--color-background-secondary) inset !important;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity--compact .quantity__input {
  width: 4rem;
  height: 4rem;
  flex-grow: 0;
}

select {
  background: none;
  color: inherit;
  cursor: pointer;
}

.select-input__label {
  display: block;
  cursor: pointer;
  margin: 0 0 0.5rem;
}

.select-input__wrapper {
  position: relative;
}

.select-input__wrapper svg {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-input__el {
  font: inherit;
  width: 100%;
  height: 5rem;
  padding-right: 2rem;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

.select-input--bordered .select-input__el {
  padding: 0 4rem 0 2rem;
  border: 0.1rem solid var(--color-background-primary);
}

.select-input--bordered .select-input__wrapper svg {
  right: 1rem;
}

.select-input--inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.select-input--inline .select-input__label {
  margin: 0 1rem 0 0;
}

.dropdown .dropdown__button {
  position: relative;
}

.dropdown .dropdown__icon {
  will-change: transform;
  transition: transform var(--duration-default);
}

.dropdown.is-open .dropdown__icon {
  transform: rotate(180deg);
}

.dropdown.disclosure-has-popup .dropdown__list {
  position: absolute;
}

.dropdown .dropdown__list {
  top: 100%;
  right: 0;
  min-width: 20rem;
  background-color: var(--color-background-secondary);
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  transition: opacity var(--duration-default),
    visibility var(--duration-default);
}

.dropdown.is-open .dropdown__list {
  opacity: 1;
  visibility: visible;
}

.dropdown .dropdown__link {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.dropdown .dropdown__link[disabled] {
  cursor: initial;
}

dropdown-input:not(html.no-js dropdown-input) label + * {
  display: none;
}

/*
   .rte
   ========================================================================== */

.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6 {
  margin-block: calc(1.3em / 2);
}

.rte a {
  color: #CBA378;
}

.rte p > img {
  width: 100%;
}

.rte table {
  width: 100%;
}

.rte table td:not(:first-child) {
  text-align: center;
}

.rte iframe {
  max-width: 100%;
  display: block;
  margin-inline: auto;
}

.rte ul,
.rte ol {
  text-align: left;
  padding-left: 2rem;
}

.price ins {
  text-decoration: none;
  display: inline-block;
}
ins.sale-price {
  color: var(--color-red);
}

.price del {
  display: inline-block;
  /* color: var(--color-red); */
  color: var(--color-paragraphs);
  /* margin-right: 0.5rem; */
  margin-left: 0.5rem;
}

.price .price__discount {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  background-color: #DFC8AB;
  text-transform: uppercase;
  border-radius: 0.4rem;
  line-height: 1;
}

.badge {
  display: inline-block;
  min-width: 6.3rem;
  font-size: calc(var(--fsbase) * 1.2);
  font-weight: 900;
  line-height: 1.334;
  text-transform: uppercase;
  background-color: #ff3a00;
  color: #faf8f2;
  padding: 1.2rem 0.7rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 989px) {
  .badge {
    min-width: 5.4rem;
    font-size: calc(var(--fsbase) * 1);
    line-height: 1.2;
    padding: 1.15rem 0.6rem;
  }
}

/* Swiper no-js */
.no-js .swiper {
  visibility: visible;
}

.no-js .swiper-wrapper {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 7.2rem;
  grid-template-columns: repeat(4, 1fr);
}

.no-js .swiper-arrows {
  display: none;
}

.no-js .swiper-pagination {
  display: none;
}

/* Swiper slider */

.swiper--spacing {
  --items-horizontal-spacing: 2rem;
  --items-vertical-spacing: 0rem;
  --items-width: 100%;
}

.swiper--spacing.swiper {
  margin: calc(0rem - var(--items-vertical-spacing) / 2) calc(0rem - var(--items-horizontal-spacing) / 2);
}

.swiper--spacing .swiper-slide {
  padding: calc(var(--items-vertical-spacing) / 2) calc(var(--items-horizontal-spacing) / 2);
  flex: 0 0 var(--items-width);
  max-width: var(--items-width);
}

.swiper--auto .swiper-slide {
  width: auto;
  height: auto;
}

.swiper-wrapper {
  box-sizing: border-box !important;
}

.swiper-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  pointer-events: none;
}

.swiper-arrow {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  pointer-events: all;
  will-change: opacity;
  transition: opacity var(--duration-default);
}

.swiper-arrow:after {
  content: '';
  border: solid var(--color-paragraphs);
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 0.7rem 0.7rem 0 0;
  transform-origin: 50% 50%;
}

.swiper-arrow--prev:after {
  transform: rotate(-135deg);
}

.swiper-arrow--next:after {
  transform: rotate(45deg);
}

.swiper-arrow:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.swiper-pagination {
  padding: 2rem 0 0 0;
  position: static !important;
}

.swiper-pagination-bullet {
  display: block;
  width: 1rem;
  height: 1rem;
  background: none;
  padding: 0;
  border: 0.1rem solid var(--color-background-primary);
  border-radius: 50%;
  margin: 0 0.5rem 0.5rem;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: var(--color-background-primary) !important;
}

/* Swatches */
.swatch {
  background-color: currentColor;
  background-size: cover;
  background-position: 50% 50%;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
}

:checked + .swatch {
  box-shadow: 0 0 0 0.5rem #f4f0e0, 0 0 0 0.6rem #012800;
}

input.is-unavailable + label {
  position: relative;
  overflow: hidden;
  opacity: 0.7;
}

input.is-unavailable + label:after {
  content: '';
  background-color: currentColor;
  width: 142%;
  height: 0.1rem;
  position: absolute;
  inset: auto;
  transform: translate(-50%, -50%) rotate(-45deg);
  filter: invert(50%);
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 749px) {
  .swatch {
    width: 1.6rem;
    height: 1.6rem;
  }

  :checked + .swatch {
    box-shadow: 0 0 0 0.3rem #f4f0e0, 0 0 0 0.4rem #012800;
  }
}

/* Section */

.section {
  margin-block: 5rem;
}

.link-dot {
  appearance: none;
  background: none;
  border: none;
  line-height: 1.1;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  font-size: calc(var(--fsbase) * 1.6);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #2c2621;
}
.linkdot-currentcolor {
  color: currentColor;
}

.link-dot:before {
  content: '';
  background-color: var(--color-red);
  background-image: url('icon-chevron-right.svg');
  background-repeat: no-repeat;
  background-position: 54% 50%;
  background-size: 0rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: transform var(--duration-default),
    background-size var(--duration-default);
}

@media (hover: hover) AND (pointer: fine) {
  .link-dot:hover:before {
    transform: scale(1.933);
    background-size: 0.4rem 0.7rem;
  }

  .link-dot:hover:before {
    transform: scale(1.933);
    background-size: 0.4rem 0.7rem;
  }

  .link-hover {
    transition: opacity var(--duration-default);
  }

  .link-hover:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 749px) {
  .link-dot {
    font-size: calc(var(--fsbase) * 1.2);
    font-weight: 900;
    gap: 1rem;
  }

  .link-dot:before {
    width: 0.8rem;
    height: 0.8rem;
  }
}

/*
   Link - Underline
   ========================================================================== */

.link-underline {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  line-height: 1;
}

.link-underline::after {
  content: '';
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: currentColor;
  transform-origin: 50% 50%;
  transition: transform var(--duration-default) ease-in-out;
}

@media screen and (max-width: 1023px) {
  .link-underline::after {
    bottom: -0.2rem;
  }
}

.link-underline:hover::after {
  transform: scaleX(0.7);
}

/*
   .ico
   ========================================================================== */

.ico {
  position: relative;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  width: 1.6rem;
  height: 1.6rem;
}

.ico img,
.ico video,
.ico svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.icon svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Mobile */
@media only screen and (max-width: 749px) {
  .gorgias-chat-key-1spa6uy {
    right: 2px !important;
    bottom: 2px !important;
  }
}

/*
* Okendo
*/

[data-oke-widget] {
  background-color: #f0e7da !important;
  padding: 0rem 0 7.4rem !important;
  overflow: hidden;
  border-bottom: 0.1rem solid #d1cec2;
  --oke-button-backgroundColor: #2c2621 !important;
  --oke-button-backgroundColorHover: #2c2621 !important;
  --oke-button-backgroundColorActive: #2c2621 !important;
  --oke-button-textColor: #faf8f2 !important;
  --oke-button-textColorHover: #faf8f2 !important;
  --oke-button-textColorActive: #faf8f2 !important;
  --oke-button-borderColor: #2c2621 !important;
  --oke-button-borderColorHover: #2c2621 !important;
  --oke-button-borderColorActive: #2c2621 !important;
  --oke-button-borderRadius: 2.7rem !important;
  --oke-button-borderWidth: 0.2rem !important;
  --oke-button-fontWeight: 700 !important;
  --oke-button-fontSize: var(--oke-text-regular, 16px) !important;
  --oke-button-fontFamily: inherit !important;
  --oke-border-color: #d1cec2 !important;
  --oke-border-width: 0.1rem !important;
  --oke-text-primaryColor: #2c2621 !important;
  --oke-text-secondaryColor: #2c2621 !important;
  --oke-text-small: 1.2rem !important;
  --oke-text-regular: 1.6rem !important;
  --oke-text-large: 1.8rem !important;
  --oke-text-fontFamily: inherit !important;
  --oke-highlightColor: #cba378 !important;
  --oke-shadingColor: transparent !important;
  --oke-stars-foregroundColor: #2c2621 !important;
  --oke-stars-backgroundColor: #cba378 !important;
  --oke-avatar-backgroundColor: #2c2621 !important;
  --oke-avatar-placeholderTextColor: #faf8f2 !important;
  --oke-attributeBar-shadingColor: #cba378;
  --oke-attributeBar-borderColor: #cba378;
  --oke-attributeBar-backgroundColor: #d1cec2;
  --oke-attributeBar-markerColor: #cba378;
  --oke-filter-backgroundColor: #2c2621;
  --oke-filter-textColor: #faf8f2;
  --oke-filter-borderColor: #2c2621;
}

[data-oke-widget] .okeReviews::before {
  display: block;
  text-align: center;
  margin-bottom: 6rem;
}

.okeReviews[data-oke-container].oke-w,
div.okeReviews.oke-w {
  max-width: var(--page-width) !important;
  padding: 0 var(--page-gutter) !important;
  margin: 0 auto !important;
}

.oke-media-link {
  border-radius: 1rem !important;
  overflow: hidden;
}

.okeReviews[data-oke-container] .oke-w-breakdownModule-distribution-bar,
div.okeReviews .oke-w-breakdownModule-distribution-bar {
  background-color: var(--oke-border-color) !important;
}

.okeReviews[data-oke-container] .oke-w-navBar-item[aria-selected='true'],
div.okeReviews .oke-w-navBar-item[aria-selected='true'] {
  border-color: var(--oke-highlightColor) !important;
}

.okeReviews[data-oke-container] .oke-w-review-side,
div.okeReviews .oke-w-review-side {
  border: none !important;
}

.okeReviews[data-oke-container] .oke-helpful-vote-button,
div.okeReviews .oke-helpful-vote-button,
.okeReviews[data-oke-container] .oke-helpful-vote-button--negative:before,
div.okeReviews .oke-helpful-vote-button--negative:before,
.okeReviews[data-oke-container] .oke-helpful-vote-button--positive:before,
div.okeReviews .oke-helpful-vote-button--positive:before {
  color: var(--oke-text-primaryColor) !important;
  opacity: 1 !important;
}

div.okeReviews[data-oke-container] .oke-button,
div.okeReviews .oke-button {
  text-transform: uppercase !important;
  letter-spacing: 0 !important;
  height: 5rem !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.5rem !important;
  padding: 0 3rem !important;
}

.oke-showMore-button {
  border-color: #2c2621 !important;
  background-color: transparent !important;
  color: #2c2621 !important;
  margin-top: 3.9rem !important;
  transition-property: border-color, color, background-color;
  transition-duration: var(--duration-default);
}

@media (max-width:992px) {

  .back-to-top {
 right: 32px;
        bottom: 96px;
        width: 53px;
        height: 53px;

     
}

}

.oke-showMore-button .oke-showMore-button-text {
  color: inherit !important;
}

@media (hover: hover) and (pointer: fine) {
  .oke-showMore-button:hover {
    border-color: #ff3a00 !important;
    background-color: #ff3a00 !important;
    color: #f4f0e0 !important;
  }
}

.oke-w-reviews-list,
div.okeReviews[data-oke-container] li {
  list-style-type: none !important;
}

.okeReviews[data-oke-container] .oke-w-textSearchFilter-input,
div.okeReviews .oke-w-textSearchFilter-input {
  background-color: transparent !important;
}

@media screen and (max-width: 989px) {
  [data-oke-widget] .okeReviews::before {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 749px) {
  [data-oke-widget] {
    padding: 5rem 0 !important;
  }

  [data-oke-widget] .okeReviews::before {
    margin-bottom: 3rem;
  }

  .oke-showMore-button {
    margin-top: 4rem !important;
  }
}

.sticky-product {
  color: #2c2621;
  background-color: #f0e7da;
  height: 13rem;
  display: flex;
  flex-flow: row wrap;
  border-radius: 1rem;
  overflow: hidden;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 10;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  /* Testing */
  transform: scale(.85);
}

.sticky-product__image {
  width: 15rem;
}

.sticky-product__image .media {
  height: 100%;
}

.sticky-product__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4.1rem;
}

.sticky-product__content:hover {
  opacity: 0.8;
}

.sticky-product__title,
.sticky-product__price {
  display: block;
}

.sticky-product__title {
  font-size: calc(var(--fsbase) * 1.8);
  line-height: 1.22;
  font-weight: 500;
  margin: 0 0 1rem;
}

.sticky-product__price {
  font-family: var(--font-heading-family);
  font-size: calc(var(--fsbase) * 1.6);
  line-height: 1.1875;
  font-weight: 500;
}

.sticky-product__price strong,
.sticky-product__price .sale-price {
  font-family: var(--font-body-family);
  font-weight: 700;
}

.sticky-product__price del {
  display: inline-block;
  margin-left: 5px;
  font-family: var(--font-body-family);
}

span.sticky-product--cta.link-dot {
  margin-top: 15px;
}
a.sticky-product__content:hover span.sticky-product--cta.link-dot::before {
  transform: scale(1.5)!important;
  background-size: .4rem .7rem!important;
}



/*
 * Shopify Policy Pages (Refund, Returns, Shipping, etc.)
 */
.shopify-policy__container {
  max-width: 100%;
  padding: 0!important;
}
.shopify-policy__title {
  min-height: 56.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 145px 30px 20px;
  background-image: url(https://cdn.shopify.com/s/files/1/0026/7229/6025/files/bg.png?v=1736263701);
  background-size: cover;
  background-position: center center;
  color: white;
}
@media (max-width: 1023px) {
  .shopify-policy__title {
    min-height: 42rem;
    padding-top: 125px;
  }
}
@media (max-width: 767px) {
  .shopify-policy__title {
    min-height: 33rem;
  }
}
@media (max-width: 5757px) {
  .shopify-policy__title {
    padding-top: 63px;
  }
}
.shopify-policy__body {
  max-width: var(--page-width);
  padding: 100px var(--page-gutter);
  margin: 0 auto;
  font-weight: 500;
  line-height: 2;
}

#MainContent > div > div.shopify-policy__body > div > p:nth-child(3)

.shopify-policy__body p {
  padding-top:15px;
}

@media (min-width: 1200px) {
  .shopify-policy__body {
    font-size: 17px;/*21px;*/
  }
  .shopify-policy__body h2 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
  .shopify-policy__body h4 {
    font-size: calc(var(--font-heading-scale) * 3.2rem);
  }
  .shopify-policy__body h5 {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}
@media (max-width: 767px) {
  .shopify-policy__body {
    --page-gutter: 4rem;
    padding: 50px var(--page-gutter);
  }
}
@media (max-width: 575px) {
  .shopify-policy__body {
    padding: 40px var(--page-gutter);
  }
}
.shopify-policy__body table {
  margin-top: 25px;
  margin-bottom: 25px;
}
.shopify-policy__body h3 strong,
.shopify-policy__body h4 strong,
.shopify-policy__body h5 strong {
  font-family: var(--font-body-family);
}
.shopify-policy__body p + ul {
  margin-top: 25px;
}
.shopify-policy__body ul li + li {
  margin-top: 5px;
}
.shopify-policy__body ul li::marker {
  color: #ff3a00;
}

/*
 * 404 Page
 */
.page-404-content {
  padding-top: 60px;
}
.page-404-content a.button {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*
 * SplitIt Modal
 */
.splitit-modal-dialog .modal-dialog__wrapper {
  max-width: 560px;
  padding-top: 20px;
  border-radius: 20px;
}
.splitit-modal-dialog .modal-dialog__inner {
  text-align: left;
}
.splitit-modal-dialog .modal-dialog__close {
  top: 13px;
  right: 20px;
}
.splitit-modal-summary-header {
  display: flex;
  align-items: center;
  height: 60px;
}
.splitit-modal-summary-title svg {
  width: 70px;
  height: auto;
}
.splitit-modal-summary-row.paragraph p {
  margin-top: 8px;
}
.splitit-modal-summary-row.paragraph p:last-child {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
}
@media (max-width: 749px) {
  .splitit-modal-dialog .modal-dialog__wrapper {
    padding-inline: 24px;
  }
  .splitit-modal-summary-header {
    height: 40px;
  }
  .splitit-modal-summary-row.paragraph p {
    font-size: calc(var(--fsbase) * 1.05);
  }
  .splitit-modal-summary-title i svg {
    max-width: 60px;
    display: block;
  }
  .splitit-modal-dialog .modal-dialog__close {
    font-size: calc(var(--fsbase) * 1);
  }
  .splitit-modal-dialog .modal-dialog__close svg {
    display: block;
    width: 12px;
  }
}


/*
 * Misc fixes
 */
p .tm,
a .tm {
  font-size: .85em;
}
a .tm {
  vertical-align: super;
}
h1 .tm,
h2 .tm,
h3 .tm,
h4 .tm,
h5 .tm {
  font-size: .35em;
  vertical-align: super;
  font-family: serif;
}
/* Bogos app css */
.sca-fg-form-icon-product-page.product__title {
  display: flex;
  gap:10px;
  padding-right: 0 !important;
}

.sca-fg-form-icon-product-page.product__title #sca-gift-icon .sca-gift-icon-img {
  position:static !important;
  width: 50px !important;
  max-height:80px !important;
}

.fg-gift-thumbnail-offer-body .fg-gift-image {
  object-fit: cover !important;
  border-radius: 10px !important;
}

@media (max-width: 749px) {
  .sca-fg-form-icon-product-page.product__title {
    font-size:calc(var(--fsbase) * 2.2);
  }
} 

@media (max-width: 768px) and (min-width: 600px) {
  .sca-fg-form-icon-product-page.product__title #sca-gift-icon .sca-gift-icon-img {
    position:static !important;
    width: 50px !important;
    max-height:80px !important;
  }
  .sca-fg-form-icon-product-page.product__title {
    align-items:center;
  }
}