/* ==========================================================================
   .blocks
   ========================================================================== */

.blocks {
  margin-bottom: 8rem;
}

/* ==========================================================================
   .blocks__cols
   ========================================================================== */

.blocks__cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.blocks__col {
}

/* Small desktop */
@media (max-width: 1279px) {
  .blocks {
    margin-bottom: 4rem;
  }
}

/* Tablet */
@media screen and (max-width: 989px) {
  .blocks {
    margin-bottom: 4.5rem;
  }
}
