facet-remove,
facet-filters-form,
price-range {
  display: block;
}

.facets__price-row {
  padding-right: 2.5rem;
  position: relative;
}

.facets__price-row + .facets__price-row {
  margin-top: 1rem;
}

.facets__price-row span {
  position: absolute;
  bottom: 1rem;
  right: 0;
  z-index: 1;
}

.facets__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.facets__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: calc(var(--fsbase) * 2);
}

.facets-active {
  gap: 2rem;
}

.facets-active__button svg {
  width: 1rem;
  height: 1rem;
}

.facets-active__button svg,
.facets-active__button span {
  vertical-align: middle;
}

.facet-checkbox {
  width: 100%;
}

.facets__selected:not(.facets__selected--price) {
  display: none;
}

.facets__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facets__summary svg,
facet-remove svg {
  margin-left: 1rem;
}

.facets__sort .dropdown__list {
  border: 1px solid var(--color-border-medium);
}

.facets__sort label {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.facets__sort summary span {
  display: inline-block;
  margin-left: 2rem;
}

.facets__header {
  margin: 0 0 1rem;
}

.facets-mobile__close {
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0;
}

.facets-mobile__wrapper {
  background-color: var(--color-background-secondary);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-modals);
}

.facets-mobile__body {
  flex: 1;
  overflow-y: auto;
}

.facets-mobile__foot {
  padding: 2rem 0 0;
}

.facets__disclosure {
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid var(--color-background-primary);
}

.facets__disclosure:last-child {
  border-bottom: none;
}

.collection-facets--bar .facets__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-facets--bar .facets__sort {
  margin-left: auto;
}

@media (min-width: 990px) {
  .collection-facets--bar facet-remove:last-child {
    display: none;
  }
}
