.predictive-search-container {
  padding-bottom: 100px;
}
.predictive-search .collection-hero__title {
  text-align: center;
}
.form-search {
  margin-top: 50px;
}
.form-row.row--form-input {
  width: 100%;
  max-width: 782px;
  margin: 0 auto;
  position: relative;
}
button.search-form-trigger {
  position: absolute;
  top: 50%;
  right: 40px;
  translate: 0 -50%;
  background-color: transparent;
  border: none;
}
@media (max-width: 767px),screen and (max-width: 812px) and (orientation: landscape) {
  button.search-form-trigger {
    right: 20px;
  }
}
button.search-form-trigger svg {
  display: block;
  width: 20px;
  height: 20px;
}
@media (max-width: 767px),screen and (max-width: 812px) and (orientation: landscape) {
  button.search-form-trigger svg {
    width: 15px;
    height: 15px;
  }
}
#Main-Search-Input {
  display: block;
  width: 100%;
  padding: 25px 25px 25px 50px;
  color: var(--color-paragraphs);
  background: transparent!important;
  border-radius: 38px;
  font-family: var(--font-buttons-family);
  font-weight: var(--font-buttons-weight);
  font-style: var(--font-buttons-style);
  line-height: 1;
}
#Main-Search-Input:-internal-autofill-selected {
  background-color: transparent!important;
}
.search-popup .results-header {
  margin-bottom: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.search-popup .results-header .search-term {
  color: #CBA378;
}
@media (max-width: 767px) {
  .search-popup .results-header {
    margin-bottom: 50px;
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .search-popup .results-header {
    margin-bottom: 40px;
    font-size: 15px;
  }
}
.ps-products-container + .ps-articles-container {
  margin-top: 80px;
}
.header__search-results-title {
  font-size: calc(var(--fsbase) * 5.4);
  margin-bottom: 2rem;
}
@media (max-width: 1279px) {
  .header__search-results-title {
    font-size: calc(var(--fsbase) * 4.2);
  }
}
@media screen and (max-width: 989px) {
  .header__search-results-title {
    font-size: calc(var(--fsbase) * 3.6);
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 749px) {
  .header__search-results-title {
    font-size: calc(var(--fsbase) * 2.8);
  }
}
.predictive-search__actions + .header__search-results-title {
  margin-top: 30px;
}
.predictive-search__actions {
  margin-top: 20px;
}
.predictive-search--articles-pages {
  margin-top: 40px;
}
@media screen and (min-width: 750px) {
  /* .predictive-search__item--product {
    margin-bottom: 1rem;
    display: flex;
    gap: 1.5rem;
  }

  .predictive-search__item--product > a {
    width: 6rem;
    aspect-ratio: 1;
    flex: 0 0 6rem;
    padding-bottom: 0;
    align-self: flex-start;
  } */

  .predictive-search__item--product > h6 {
    flex: 1;
    font-size: calc(var(--fsbase) * 1.2);
  }

  .predictive-search__item h6 {
    margin-block: 0 1rem;
  }

  .predictive-search__item--product .price {
    font-size: calc(var(--fsbase) * 1.2);
  }

  .predictive-search__item--product .price del {
    display: none;
  }

  /* .predictive-search__item--product > :last-child {
    text-align: right;
  } */

  .predictive-search__actions a {
    min-width: 0;
  }

  .predictive-search__actions {
    margin-bottom: 1rem;
  }
}


.predictive-search-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .predictive-search-items {
    gap: 4rem;
  }
}
@media screen and (max-width: 989px) {
  .predictive-search-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
  }
}
@media screen and (max-width: 749px) {
  .predictive-search-items {
    grid-template-columns: 1fr;
  }
}

/* Product Item */
.predictive-search__item .card-product__media {
  padding-bottom: 66.667%;
  overflow: hidden;
  border-radius: 1rem;
}

.predictive-search__item .card-product__media[href]:hover {
  opacity: 1;
}

.predictive-search__item .card-product__badges {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
}

.predictive-search__item .card-product__media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 4, 3, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--duration-default),
    visibility var(--duration-default);
}

.predictive-search__item .card-product__buttons {
  display: flex;
  flex-direction: column;
  gap: 2.1rem 2rem;
}

@media (hover: hover) {
  .predictive-search__item .card-product__media-wrapper:hover .predictive-search__item .card-product__media-overlay {
    opacity: 1;
    visibility: inherit;
    pointer-events: auto;
  }
}

.predictive-search__item .card-product__content {
  padding-top: 1.9rem;
}

.predictive-search__item .card-product__content-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 2.4rem;
  margin-bottom: 1.1rem;
}

.predictive-search__item .card-product__content-body {
  margin-top: 1.1rem;
}

.predictive-search__item .card-product__price,
.predictive-search__item .card-product__title {
  font-family: var(--font-body-family);
  font-size: calc(var(--fsbase) * 2.1);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.334;
}

.predictive-search__item .card-product__title {
  flex: 1;
}

.predictive-search__item .card-product__subtitle {
  font-size: calc(var(--fsbase) * 2.1);
  line-height: 1.334;
}

.card-product .okeReviews[data-oke-container] {
  font-size: calc(var(--fsbase) * 1);
  font-weight: 700;
  line-height: 1.4;
}

.card-product .okeReviews[data-oke-container] > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.4rem 1.1rem;
}

.card-product .okeReviews[data-oke-container] .oke-sr-stars {
  font-size: 0;
  margin: 0;
}

@media screen and (min-width: 990px) {
  .predictive-search__item .card-product__content-body .predictive-search__item .card-product__buttons {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  .card-product {
    display: flex;
    flex-direction: column;
  }

  .predictive-search__item .card-product__badges {
    top: 1rem;
    right: 1rem;
    gap: 0.6rem;
  }

  .predictive-search__item .card-product__price,
  .predictive-search__item .card-product__title {
    font-size: calc(var(--fsbase) * 1.6);
  }

  .predictive-search__item .card-product__content {
    padding-top: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .card-product .okeReviews[data-oke-container] > div {
    column-gap: 0.8rem;
  }

  .card-product .okeReviews[data-oke-container] svg {
    height: 0.8rem;
  }

  .card-product:not(.card-product--featured) .predictive-search__item .card-product__content-head {
    gap: 0.6rem 2.4rem;
    margin-bottom: 1rem;
  }

  .card-product:not(.card-product--featured) .predictive-search__item .card-product__content-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem 1.8rem;
    margin: auto 0 0;
    padding-top: 1rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  }

  .card-product:not(.card-product--featured) .predictive-search__item .card-product__buttons {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.9rem;
  }

  /* prettier-ignore */
  .card-product:not(.card-product--featured) .predictive-search__item .card-product__buttons .button:nth-child(1) {
    color: #f0e7da;
    background-color: #2c2621;
    border-color: #2c2621;
    min-width: 10rem;
    height: 3.5rem;
    padding: 0 1.5rem;
    font-size: calc(var(--fsbase) * 1.2);
  }

  /* prettier-ignore */
  .card-product:not(.card-product--featured) .predictive-search__item .card-product__buttons .button:nth-child(2) {
    color: currentColor;
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-width: auto;
    height: auto;
    padding: 0;
    text-decoration: underline;
    font-size: calc(var(--fsbase) * 1.1);
  }
}