.cart-items {
  width: 100%;
}

table.cart-items {
  text-align: left;
  border-collapse: collapse;
}

@media screen and (max-width: 989px) {
  table.cart-items,
  table.cart-items tr:not(.cart-item),
  table.cart-items th,
  table.cart-items td,
  table.cart-items tbody,
  tfoot.cart-items__foot {
    display: block;
  }

  .cart-item {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .cart-item__price,
  .cart-item__quantity,
  .cart-item__total {
    width: 100%;
  }

  .cart-item__price::before,
  .cart-item__quantity::before,
  .cart-item__total::before {
    content: attr(data-heading) ': ';
    display: inline;
    vertical-align: middle;
  }

  .cart-item__quantity-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  .cart-item__details {
    flex: 1;
  }
}

.cart-drawer table.cart-items,
.cart-drawer table.cart-items tr:not(.cart-item),
.cart-drawer table.cart-items th,
.cart-drawer table.cart-items td,
.cart-drawer table.cart-items tbody,
.cart-drawer tfoot.cart-items__foot {
  display: block;
}

.cart-drawer .cart-item {
  display: flex;
  flex-flow: row wrap;
  /*align-items: center;*/
}

.cart-item__media {
  width: 10rem;
}
.cart-item__media a .media {
  border-radius: 10px;
  overflow: hidden;
}

.cart-drawer .cart-item__details {
  flex: 1;
}

.cart-item {
  padding: 1.5rem 0;
  border-top: 0.1rem solid #d9d2c1;
}

.cart-item:last-child {
  border-bottom: 0.1rem solid #d9d2c1;
}

.cart-item__title {
  margin: 3px 0 12px;
  font-size: calc(var(--fsbase) * 2.1);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  line-height: 1;
}


.cart-item__title a {
  font-family: var(--font-body-family);
}

.cart-item__details-link {
  min-height: 20px;
  font-weight: 700;
}

.cart-item__details-link span {
  pointer-events: none;/*allows click event to be on the link and not on the span inside - cart-drawer.js*/
}
.cart-item__details-link.js-toggled .default,
.cart-item__details-link:not(.js-toggled) .active-text {
  display: none;
}

.cart-item__details-link,
.cart-item dl {
  font-size: calc(var(--fsbase) * 1.5);
  font-family: var(--font-body-family);
  color: inherit;
}

.cart-item-additional-details {
  display: none;
  padding-top: 5px;
}
.cart-item-additional-details.js-open {
  display: block;
}

.cart-item dl div + div {
  margin-top: 0.5rem;
}

.cart-item dl + .cart-item__details-link {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1023px) {
  .cart-item__title {
    font-size: calc(var(--fsbase) * 1.6);
  }

  .cart-item dl,
  .cart-item__details-link {
    font-size: calc(var(--fsbase) * 1.2);
  }
}
@media screen and (max-width: 767px) {
  .cart-item__title {
    font-size: calc(var(--fsbase) * 1.45);
    line-height: 1.25;
  }
  .cart-item dl,
  .cart-item__details-link {
    font-size: calc(var(--fsbase) * 1);
  }
}
@media screen and (max-width: 575px) {
  .cart-item__title {
    font-size: calc(var(--fsbase) * 1.26);
  }
}

table.cart-items td.cart-item__details,
table.cart-drawer__items td.cart-item__details {
  padding-left: 2rem;
}

.cart-item dl {
  margin: 0.5rem 0 0;
}

.cart-item dl > div:not(.block) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-item dl > .block {
  word-break: break-word;
}

.cart-item dt {
  margin-right: 0.5rem;
}

.cart-item dd {
  margin: 0;
}

cart-remove-button {
  display: block;
}

.cart-summary__button {
  width: auto;
}

.cart-summary__button + .cart-summary__button {
  margin-top: 2rem;
}

table.cart-items td {
  vertical-align: top;
  padding: 1.5rem;
  border-top: 0.1rem solid #d9d2c1;
}

table.cart-items td:first-child {
  padding-left: 0;
}

table.cart-items td:last-child {
  padding-right: 0;
}

.cart-item__quantity {
  text-align: center;
  width: 18.2rem;
}

.cart-item__quantity-wrapper {
  display: flex;
  justify-content: center;
}

.cart-drawer .cart-item__quantity-wrapper {
  justify-content: flex-start;
}

.cart-items__cell--quantity {
  text-align: center;
}

.cart-items__cell--total,
.cart-item__total,
tfoot.cart-items__foot td.cart-items__cell {
  text-align: right;
}

.cart-item__discounts li svg,
.cart-item__discounts li span {
  vertical-align: middle;
}

.cart-item__discounts li svg {
  margin-right: 0.5rem;
}

.cart-item__details-actions {
  margin-top: 1.7rem;
}

.cart-drawer .cart-item .cart-item__quantity-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

table.cart-items td.cart-item__price {
  padding-left: 0;
}

@media screen and (max-width: 989px) {
  .cart-item__quantity-wrapper,
  .cart-drawer .cart-item .cart-item__quantity-wrapper,
  .cart-item__discounted-prices,
  .cart-item__price strong,
  .cart-item__total strong,
  .cart-item__discounted-prices del,
  .cart-item__discounted-prices strong {
    display: inline-block;
    vertical-align: middle;
  }

  table.cart-items thead {
    display: none;
  }

  .cart-item__details-content cart-remove-button {
    display: inline-block;
  }

  .cart-item__details-content .cart-item__quantity-wrapper,
  .cart-item__details-content cart-remove-button {
    vertical-align: middle;
  }

  .cart-item__details-content .cart-item__quantity-wrapper {
    margin-right: 1rem;
  }

  .cart-item__media {
    width: 7.5rem;
    border-radius: 1rem;
    overflow: hidden;
  }

  .cart-summary__button {
    width: 100%;
  }

  table.cart-items td {
    padding: 0;
    border-top: none;
  }

  table.cart-items td.cart-item__details,
  table.cart-drawer__items td.cart-item__details {
    padding-left: 2rem;
  }

  .cart-item__quantity {
    text-align: left;
  }

  .cart-items__cell--quantity {
    text-align: left;
  }

  .cart-items__cell--total,
  .cart-item__total,
  tfoot.cart-items__foot td.cart-items__cell {
    text-align: center;
  }

  tfoot.cart-items__foot td.cart-items__cell {
    padding: 1.5rem 0;
  }
}

/*
   Cart item - compact
   ========================================================================== */

.cart-item--compact {
  padding: 2rem 7.7rem 2rem 2rem;
}

@media screen and (max-width: 1599px) {
  .cart-item--compact {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .cart-item--compact {
    padding-right: 1.4rem;
  }
}

.cart-item--compact .cart-item__details {
  display: grid;
  grid-template-areas:
    'title title'
    'link price'
    'properties properties'
    'discounts column'
    'order-processing order-processing'
    'details-content details-content';
  line-height: 1;
}

.cart-item--compact .cart-item__details-row {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: flex-end;
}

.cart-item--compact .cart-item__details-wrapper {
  display: flex;
  gap: 1rem;
  font-size: calc(var(--fsbase) * 1.8);
  line-height: 1;
}

@media screen and (max-width: 1023px) {
  .cart-item--compact .cart-item__details-wrapper {
    font-size: calc(var(--fsbase) * 1.6);
  }
}
@media screen and (max-width: 767px) {
  .cart-item--compact .cart-item__details-wrapper {
    font-size: calc(var(--fsbase) * 1.26);
  }
}

.cart-item--compact .cart-item__title {
  grid-area: title;
}

.cart-item--compact .cart-item__details-row {
  grid-area: price;
}

.cart-item--compact .cart-item__details-link {
  grid-area: link;
}

.cart-item--compact .cart-item-details {
  grid-area: properties;
}

.cart-item--compact .cart-item__discounts {
  grid-area: discounts;
}

.cart-item--compact .cart-item__details-content {
  grid-area: details-content;
}

/*
   Cart summary
   ========================================================================== */

.cart-summary__total {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.8rem;
  padding-inline: 1rem;

  line-height: 1;
  font-size: calc(var(--fsbase) * 2.8);
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
}

@media screen and (max-width: 1023px) {
  .cart-summary__total {
    padding-inline: 0;
    font-size: calc(var(--fsbase) * 2.1);
    margin-bottom: 1.4rem;
  }
}

.cart-summary__actions button {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1023px) {
  .cart-summary__actions button {
    margin-bottom: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .cart-summary__actions button {
    min-height: 7.6rem;
    font-size: calc(var(--fsbase) * 1.8);
    border-radius: 3.8rem;
  }
}

.cart-summary__actions {
  line-height: 1;
}

.cart-summary__actions a {
  opacity: 0.5;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: calc(var(--fsbase) * 1.6);
  transition: opacity var(--duration-default);
}

@media screen and (max-width: 1023px) {
  .cart-summary__actions a {
    font-size: calc(var(--fsbase) * 1.2);
  }
}

.cart-summary__actions a:hover {
  opacity: 1;
}


/* 5.23.25 */
.template--cart cart-items > .container {
  max-width: 1620px;
  min-height: 50vh;
}
.template--cart .cart__head {
  padding-top: 100px;
  padding-bottom: 20px;
  border-bottom: 1.5px solid var(--color-solid-button-background);
}
@media (max-width: 1023px) {
  .template--cart .cart__head {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .template--cart .cart__head {
    padding-top: 40px;
  }
}
@media (max-width: 575px) {
  .template--cart .cart__head {
    padding-top: 20px;
  }
}
.template--cart .cart-items__cell.caption {
  text-align: left;
}
.cart__contents thead th {
  padding-bottom: 25px;
  font-size: calc(var(--fsbase) * 1.85);
  font-weight: 800;
}
.cart__contents thead th:first-child {
  opacity: 0;
}
.template--cart .cart-items__body .cart-item:first-child,
.template--cart .cart-items__body .cart-item:first-child td {
  border-top: none!important;
}
.template--cart .cart-item {
  border-top: 1.5px solid var(--color-solid-button-background);
}
.template--cart .cart-item:last-child {
  border-bottom: 1.5px solid var(--color-solid-button-background);
}
.template--cart .cart-item__media {
  width: 20rem;
}
@media (max-width: 767px) {
  .template--cart .cart-item__media {
    width: 15rem;
  }  
}
@media (max-width: 575px) {
  .template--cart .cart-item__media {
    width: 10rem;
  }  
}
.template--cart .cart-item-additional-details dl > div {
  line-height: 1.2;
}
/* Desktop layout */
@media /*(min-width: 1023.2px)*/(min-width:989.2px) {
  .template--cart .cart:not(.cart--empty) .cart__head {
    margin-bottom: -45px;
  }
  .template--cart table.cart-items td {
    border-top: 1.5px solid var(--color-solid-button-background);
  }
  .template--cart table.cart-items td {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .template--cart td.cart-item__details {
    width: 470px;
  }
  .template--cart td:nth-child(3) {
    min-width: 100px;
  }
  .template--cart .cart-item__total {
    width: 100px;
    padding-left: 0;
  }
}
.cart-item-order-processing-disc {
  margin-top: 15px;
}
.order-processing-disclaimer {
  max-width: 300px;
  line-height: 1.45;
}
.template--cart .cart-item__quantity {
  text-align: left;
}
.template--cart .cart-item__quantity,
.template--cart .quantity {
  width: auto;
}
.template--cart .cart-item__quantity-wrapper {
  justify-content: flex-start;
}
.template--cart .quantity__wrapper {
  width: 150px;
  height: 50px;
  border: 1px solid #707070;
}
@media (max-width: 575px) {
  .template--cart .quantity__wrapper {
    height: 40px;
  }
}
.template--cart .quantity__wrapper .quantity__button {
  flex-grow: 1;
}
.template--cart table.cart-items td.cart-item__total {
  text-align: left;
}
@media (max-width: 767px) {
  .cart-item__details-actions {
    display: flex;
    flex-direction: column;
  }
}
.template--cart cart-remove-button {
  display: none;
}
.template--cart table.cart-items td.cart-item__total,
.template--cart table.cart-items td.cart-item__price {
  font-size: calc(var(--fsbase) * 1.8);
}

.cart-footer-content-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 40px 0;
  text-align: left;
}
@media (max-width: 1280px) {
  .cart-footer-content-wrap {
    gap: 30px;
  }
}
@media (max-width: 1023px) {
  .cart-footer-content-wrap {
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
}
.cart-footer-col {
  align-self: flex-start;
  padding: 30px;
  border: 1.5px solid var(--color-solid-button-background, #2C2621);
}
@media (max-width: 575px) {
  .cart-footer-col {
    padding: 22px;
  }
}
.cart-footer-heading {
  font-family: var(--font-body-family);
}
.cart-footer-po-header,
.cart-footer-summary-header {
  margin-bottom: 25px;
  padding-bottom: 9px;
  border-bottom: 1px solid;
}
.cart-footer-payment-options {
  
}
.cart-footer-po + .cart-footer-po {
  margin-top: 40px;
}
.cart-footer-po svg {
  width: 100px;
  height: auto;
}
.cart-footer-po span {
  display: block;
}
a.js-splitit-cart-toggle.is-active span:first-child,
a.js-splitit-cart-toggle span:last-child {
  display: none;
}
a.js-splitit-cart-toggle.is-active span:last-child {
  display: block;
}
a.js-splitit-cart-toggle.is-active + .splitit-cart-more-info.hidden {
  display: block!important;
}
.splitit-cart-more-info {
  margin-top: 20px;
}
.splitit-cart-more-info p + p {
  margin-top: 5px;
}
.splitit-cart-more-info p:last-child {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
}

.template--cart .cart__empty {
  padding: 60px 0;
}
@media (max-width: 575px) {
  .template--cart .cart__empty {
    padding-top: 30px;
  }
}
.template--cart .cart__empty-title {
  margin-bottom: 30px;
}
/* Dr Discount app */
.cart-discount-code-wrap .docapp-coupon-input,
.cart-discount-code-wrap .docapp-cart-with-shipping-summary {
  margin-left: 0!important;
}
.cart-discount-code-wrap .docapp-cart-with-shipping-summary {
  margin-top: 20px!important;
}
.cart-discount-code-wrap .docapp-coupon-input input[type=text].docapp-coupon-input--input {
  padding-left: 0!important;
  background: transparent!important;
  color: var(--color-solid-button-background)!important;
  border: none!important;
  border-bottom: 1.5px solid var(--color-solid-button-background)!important;
}
.cart-discount-code-wrap .docapp-coupon-input .docapp-coupon-input--input-container .docapp-coupon-input--button {
  background: transparent!important;
  border: none!important;
  border-bottom: 1.5px solid var(--color-solid-button-background)!important;
}
.cart-discount-code-wrap .docapp-coupon-input .docapp-coupon-input--input-container .docapp-coupon-input--button:hover {
  background: var(--color-solid-button-background)!important;
}
.cart-discount-code-wrap .docapp-coupon-input .docapp-coupon-input--input-container .docapp-coupon-input--button .docapp-coupon-input--button-text {
  text-align: right!important;
}
.cart-discount-code-wrap .docapp-coupon-input .docapp-coupon-input--input-container .docapp-coupon-input--button:hover .docapp-coupon-input--button-text {
  color: white!important;
}
.cart-discount-code-wrap .docapp-cart-with-shipping-summary .docapp-cart-subtotal {
  margin-bottom: 15px;
}
.cart-discount-code-wrap .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates {
  background: transparent!important;
}
.cart-discount-code-wrap .docapp-cart-with-shipping-summary .docapp-shipping-calculator--rates .docapp-shipping-rate-name input[type=radio] {
  accent-color: var(--color-solid-button-background);
}
.cart-discount-code-wrap .docapp-cart-with-shipping-summary .docapp-est-total {
  margin-bottom: 25px;
  padding: 20px 0;
  border-bottom: 1.5px solid var(--color-solid-button-background, #2C2621);
}
.cart-discount-code-wrap .docapp-cart-with-shipping-summary .docapp-summary-note {
  color: var(--color-solid-button-background)!important;
}
.template--cart .cart-summary-wrap .cart-summary__total {
  display: none;
}
/* Checkout Button */
.template--cart .cart-summary__actions {
  padding-top: 10px;
  text-align: center;
}
.template--cart .cart-summary__actions button {
  width: 265px;
  min-height: 56px;
  margin-bottom: 20px;
}
.template--cart .cart-summary__actions .tax-disclaimer {
  font-size: 12px;
  font-weight: 700;
}


/* Lead Times 7.9.25 */
.cart-item--lead-time-meta {
  grid-area: order-processing;
  margin-top: 8px;
}
.cart-drawer__body p.cart-item--lead-time {
  font-size: 12px;
}
/*.template--cart p.cart-item--lead-time {
  font-weight: 700;
}*/
@media (max-width: 575px) {
  .cart-drawer__body .cart-item--lead-time-meta {
    margin-top: 15px;
  }
  .cart-drawer__body p.cart-item--lead-time {
    font-size: 11px;
  }
  .template--cart .order-processing-timeline {
    line-height: 1.6;
  }
  .template--cart .order-processing-timeline strong span {
    display: block;
  }
}


/* Mobile Fixes 7.9.25 */
@media (max-width: 575px) {
  .cart-item--compact .cart-item__details {
    display: block;
  }
  .cart-item--compact .cart-item__details-row {
    align-items: flex-start;
    margin: 20px 0 12px;
  }
  .cart-item--compact .cart-item__details-wrapper {
    width: calc(100% - 15px);
    justify-content: space-between;
  }
}


/* Compare Pricing 7.9.25 */
.cart-item-with-compare-price strong {
  color: var(--color-red);
}
.cart-item__price del ~ strong {
  color: var(--color-red);
}
.subtotal-compare-at + .st-actual {
  color: var(--color-red);
}
/* subtotal pricing stacked
.cart-summary__total:has(.subtotal-compare-at) {
  align-items: flex-end;
}
.cart-subtotal-pricing-wrap.has-compare-at {
  display: flex;
  flex-direction: column;
  text-align: right;
}
*/