.cart-drawer__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-modals);
}

.cart-drawer__inner {
  background-color: #f0e7da;
  display: flex;
  flex-direction: column;
  width: 64rem;
  max-width: 100%;
  height: var(--viewport-height, 100vh);
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-modals);
  transform: translateX(100%);
  transition: transform var(--duration-default);
}

@media screen and (max-width: 340px) {
  .cart-drawer__inner {
    max-width: 100%;
  }
}

.cart-drawer__head {
  position: relative;
  align-items: center;
  padding-block: 2rem;
  text-align: center;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.16);
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .cart-drawer__head {
    padding-block: 1.3rem;
  }
}

.cart-drawer__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.5rem;
  height: 100%;
  appearance: none;
  -moz-appearance: none;
  background: none;
  padding: 0;
  border: solid #dfc8ab;
  border-width: 0 0.1rem 0 0;
  border-radius: 0;
  cursor: pointer;
  transition: background-color var(--duration-default);
}

@media screen and (max-width: 1023px) {
  .cart-drawer__close {
    width: 5.2rem;
  }
}

.cart-drawer__close:hover {
  background-color: #dfc8ab;
}

.cart-drawer__title {
  margin: 0;
  font-size: calc(var(--fsbase) * 2.4);
}

@media screen and (max-width: 1023px) {
  .cart-drawer__title {
    font-size: calc(var(--fsbase) * 2.1);
  }
}

.cart-drawer__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;/*5.21*/
  overflow: hidden;/*7.30*/
}

.cart-drawer__empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-heading-family);
  font-size: calc(var(--fsbase) * 2.4);
}

@media screen and (max-width: 767px) {
  .cart-drawer__empty {
    font-size: calc(var(--fsbase) * 1.6);
  }
}

.cart-drawer__body cart-drawer-items {
  flex: 1;
  overflow-y: auto;
  /*5.21.25*/
  max-height: calc(100% - 324px);
}
@media (max-width: 767px) {
  .cart-drawer__body cart-drawer-items {
    /*max-height: calc(172px);5.21.25*/
    max-height: calc(100% - 265px);
  }
}

table.cart-drawer__items,
table.cart-drawer__items tbody,
table.cart-drawer__items td {
  display: block;
}

/*5.21.25*/
.cart-drawer__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color-background-body);
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.35);
}
/* endof 5.21.25 */

.cart-drawer__summary {
  text-align: center;
  padding: 2rem 5rem;
}

cart-drawer-items {
  display: block;
}

.cart-drawer cart-remove-button {
  display: inline-block;
  vertical-align: middle;
}

.is-visible .cart-drawer__overlay {
  display: block;
}

.is-visible .cart-drawer__inner {
  transform: translateX(0);
}

.cart-drawer .cart-summary__button {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .cart-drawer__summary {
    padding: 2rem;
  }
}

.cart-drawer--summary-financing-options {
  margin-bottom: 25px;
  text-align: left;
}
.cart-drawer--summary-financing-options summary {
  font-weight: 800;
}
.cart-drawer--summary-financing-options summary::after {
  content: "";
  position: relative;
  display: inline-block;
  --size: 10px;
  width: var(--size);
  height: var(--size);
  margin-left: 14px;
  border-left: 2px solid #2c2621;
  border-bottom: 2px solid #2c2621;
  transform: rotate(-45deg) translateY(-2px);
}
.cart-drawer--summary-financing-options [open] summary::after {
  transform: rotate(135deg) translateY(-4px);
}
@media (max-width: 767px) {
  .cart-drawer--summary-financing-options summary::after {
    --size: 8px;
    margin-left: 11px;
  }
}
.cart-drawer--summary-financing-options .row,
.cart-drawer--summary-financing-options .row .po-link {
  display: flex;
  align-items: center;
}
.cart-drawer--summary-financing-options .row .po-link {
  text-decoration: none;
  color: currentColor;
}
@media (max-width: 767px) {
  .cart-drawer--summary-financing-options .row .po-link {
    line-height: 1.5;
  }
}
@media (max-width: 575px) {
  .cart-drawer--summary-financing-options .row .po-link {
    font-size: 12px;
  }
}
.cart-drawer--summary-financing-options .row + .row {
  margin-top: 4px;
  padding-top: 4px;
  border-top: .1rem solid #d9d2c1;
}
.cart-drawer--summary-financing-options .content-cnt {
  margin-top: 10px;
}
.cart-drawer--summary-financing-options .row svg {
  max-width: 13vw;
  margin-right: 10px;
}

/* Discount Input */
.cart-drawer-discount {
  padding: 2rem 5rem;
  text-align: left;
  border-bottom: .1rem solid #d9d2c1;
}
/*.cart-drawer-discount:has(details[open]) {
  border-top: .1rem solid #d9d2c1;
}*/
.cart-drawer-discount summary {
  display: inline-block;
  font-weight: 800;
  text-decoration: underline;
  text-underline-offset: 6px;
}
.cart-drawer-discount details[open] summary {
  text-decoration: none;
}
@media screen and (max-width: 1023px) {
  .cart-drawer-discount {
    padding: 2rem;
  }
}
/* When discount is applied */
.cart-drawer .cart-summary ul[aria-label="Discount"] {
  margin-bottom: 20px;
}
.cart-drawer__body cart-drawer-items + cart-drawer__footer:has(.cart-summary ul[aria-label="Discount"]) {
  max-height: calc(100% - 365px);
}