.navBG.sticky {
    position: fixed;
    width: 100%;
}

.site-header-home .navBG.sticky {
  background: #FFF;
}

.site-header-home .navBG.sticky .nav-link {
  color: #000;
}


.site-header-home .navBG.sticky .nav-link:hover {
	border-bottom: 4px solid #000;
}

.site-header-home .navBG.sticky .nav-arrow path, .site-header-home .navBG.sticky .nav-close path {
	stroke: #000;
}
.site-header-home .navBG.sticky .nav-cart {
    background-image: url(cart.svg);
    background-repeat: no-repeat;
}
.header-scroll .util-nav {
  display: none;
}

.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
