/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

/* ROOT FONT STYLES */


.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 90%;
    max-width: 960px;
  }
}


#MainContent {
    position: relative;
}

body {
 color:#000;
}
a {
 text-decoration:none;
}

p {
    font-size: 18px;
    font-weight: normal;
}

h2, h3 {
    text-align: left;
}

.inner-content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

.inner-content  img {
  max-width: 100%;
  height: auto;
}

.optimize {
 display: flex;
 align-items: center;
 background:rgba(248,248,248,0.6);
 background-image:url(saunabg.jpeg);
 background-repeat:no-repeat;
 background-position:center center;
 background-size:cover;
 width:100%;
 min-height:650px;
 position:relative;
}

.optimize:before, .compatible:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    background: rgba(255,255,255,0.8);
}

.optimize img {
    margin-bottom: 3rem;
    max-width: 100%;
}
.optimize h2 {
    color: #000;
    font-size: 36px;
    text-align: left;
    margin-bottom: 4rem;
}

.optimize p {
    max-width: 450px;
    font-size: 18px;
    margin-bottom: 4rem;
}

.mono-type {
    font-family: lft-etica-mono,sans-serif;
}
.btn-cta {
    display: block;
    border-style: none;
    border-radius: 0px;
    z-index: 2;
    width: 285px;
    padding: 1rem .5rem;
    background: rgba(110,21,0,1);
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

.btn-cta:hover {
    background: rgba(0,0,0,1);
    box-shadow: none;
    color: #fff;
}

.what-is {
    min-height: 450px;
    display: flex;
    align-items: center;
}

.what-is h2 [
    padding-top: 7rem;
]

@media (max-width: 720px) {
  .what-is h2 {
    margin-top: 3rem;
  }
}

.text-uppercase {
    text-transform: uppercase;
}

.how-it-works img {
    margin: 0 auto;
    max-width: 120px;
    margin-bottom: 2rem;
}
.how-it-works h2 {
    text-align: center;
    margin-bottom: 4rem;
}
.how-it-works h3 {
    color: #fff;
    font-family: lft-etica-mono,sans-serif;
    text-align: center !important;
    font-size: 18px;
    margin-bottom: 0;
    margin-bottom: 2rem;
}

.how-it-works {
    color: #fff;
    display: flex;
    align-items: center;
    background:rgba(198,122,38,1);
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-radius:0px;
    width:100%;
    padding: 10rem 1rem;
    position:relative;
}
.how-it-works [class^="col"] {
    height: 420px;
}

@media (max-width: 45em) {
  .how-it-works [class^="col"] {
    height: auto;
}
}

.how-it-works p {
    text-align: center;
}

.how-it-works .btn-cta {
    background: transparent;
    border: 2px solid;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
}

.how-it-works .btn-cta:hover {
    background: rgba(255,255,255,1);
    box-shadow: none;
    color: #C67A26;
}

.compatible {
    display: flex;
    align-items: center;
    background: url(compatible.jpeg) center / cover no-repeat;
    min-height: 750px;
    position: relative;
}

.compatible a {
    text-decoration: underline;
}

.story {
    min-height: 500px;
    display: flex;
    align-items: center;
    padding: 6rem 1rem;
}

.story .cta-text {
    font-size: 20px;
    margin-bottom: 2rem;
}

.story h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.story blockquote {
    margin-bottom: 2rem;
}

.story img {
    max-width: 100%;
    width: 260px;
    text-align: right;
    float: right;
}

.custom-health-tracking {
    color: #fff;
    min-height: 600px;
    padding: 6rem 1rem 0;
    position: relative;
    background: url(custom-tracker.jpeg) center / cover no-repeat;
}
.custom-health-tracking h2, .custom-health-tracking p {
    margin-bottom: 2rem;
}
.custom-health-tracking:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    background: rgba(67,60,60,0.55);
}

.custom-health-tracking .cta-text {
    max-width: 600px;
    text-align: center;
    margin: 22rem auto 0;
}

.custom-health-tracking .cta-text p {
    font-size: 16px;
}