.st-center-element {
    margin: 0 auto 60px auto;
    width: 100%;
}

.st-wrap-items {
    width: 100%;
    padding-top: 41%;
    position: relative;
    margin: 0 auto 60px auto;
    background-image: url('saunaspace-hero-animation-f1-scroll.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.st-frames {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 41%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .st-wrap-items {
    padding-top: 51%;
  }
  .st-frames {
	padding-top: 51%;
  }
}

@media screen and (max-width: 768px) {
  .st-wrap-items {
    padding-top: 71%;
  }
  .st-frames {
	padding-top: 71%;
  }
}

.st-f1 {
    background-image: url('saunaspace-hero-animation-f1.jpg');
}

.st-f2 {
    background-image: url('saunaspace-hero-animation-f2.jpg');
}
.st-f3 {
    background-image: url('saunaspace-hero-animation-f3.jpg');
}
.st-f4 {
    background-image: url('saunaspace-hero-animation-f4.jpg');
}
.st-f5 {
    background-image: url('saunaspace-hero-animation-f5.jpg');
}
.st-f6 {
    background-image: url('saunaspace-hero-animation-f6.jpg');
}
animation/saunaspace-hero-animation6.jpg');
}
