.footer {
  background-color: #f0e7da;
  overflow: hidden;
}

.footer__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
}

.footer__logo img,
.footer__logo svg {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 989px) {
  .footer__logo {
    transform: translateY(-0.2rem);
  }

  .footer__logo img,
  .footer__logo svg {
    max-width: 100%;
  }
}

.footer__links-item--contact p {
  line-height: 2;
  margin: -0.5rem 0 1.3rem;
}

.footer__links-item--contact a {
  text-decoration: none;
}

@media screen and (max-width: 989px) {
  .footer__links-item--contact {
    padding: 1.6rem 0 0.7rem;
    font-size: calc(var(--fsbase) * 1.2);
  }

  .footer__links-item--contact .footer__sublinks-item {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    gap: 0 5rem;
  }

  .footer__info p:first-child,
  .footer__links-item--contact p {
    margin-top: 0;
  }

  .footer__sublinks-item__column {
    flex: 1;
  }

  .footer__links-item--contact .footer__sublinks {
    padding: 0;
    font-size: calc(var(--fsbase) * 1.2);
  }

  .footer__links-item--contact p {
    line-height: 1.75;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .footer__links-item--contact .footer__sublinks-item {
    gap: 0 4rem;
  }
}

.footer__info {
  line-height: 1.3;
}

.footer__info p {
  margin-block: 0.7rem;
}

@media screen and (max-width: 989px) {
  .footer__info p {
    margin-block: 0.2rem;
  }
}

.footer__inner {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -5rem;
  align-items: flex-start;
}

@media screen and (max-width: 989px) {
  .footer__inner {
    margin: 0 -2.4rem;
    display: block;
  }
}

@media screen and (max-width: 749px) {
  .footer__inner {
    margin: 0 -2rem;
  }
}

.footer__aside {
  position: relative;
  width: 25.8%;
}

@media screen and (max-width: 989px) {
  .footer__aside {
    width: auto;
    max-width: 23.5rem;
    margin: 0 auto;
  }
}

.footer__copyright {
  position: absolute;
  bottom: 11%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: calc(var(--fsbase) * 1.4);
  margin: 0;
}

@media screen and (max-width: 989px) {
  .footer__copyright {
    position: static;
    font-size: calc(var(--fsbase) * 1);
  }
}

.footer__body {
  flex: 1;
  padding: 8.7rem 0 3rem 9.3rem;
}

@media screen and (max-width: 989px) {
  .footer__body {
    padding: 0 2rem;
    margin-top: -3.3rem;
  }
}

.footer__nav {
  margin-bottom: 5.5rem;
  padding-right: 14.6rem;
  line-height: 1.334;
}

.footer__links-item__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: calc(var(--fsbase) * 1.8);
  margin-bottom: 3.3rem;
}

.footer__sublinks {
  font-size: calc(var(--fsbase) * 1.4);
  font-weight: 600;
  max-width: 24rem;
}

.footer__sublinks-item + .footer__sublinks-item {
  margin-top: 1.55rem;
}

.footer__sublinks-link {
  transition-property: color, text-shadow;
  transition-duration: var(--duration-default);
  transition-timing-function: var(--timing-default);
}

@media (hover: hover) AND (pointer: fine) {
  .footer__sublinks-link:hover,
  .footer__sublinks-link:focus-within {
    color: var(--color-red);
    text-shadow: 1px 1px 30px var(--color-red);
  }
}

@media screen and (max-width: 989px) {
  .footer__sublinks {
    max-width: none;
    padding: 0;
    margin-bottom: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__sublinks-item {
    font-size: 14px;
  }
  .footer__sublinks-item +.footer__sublinks-item {
    margin-top: 0;
  }
}

.footer__bottom {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0 5.2rem;
}

@media screen and (max-width: 989px) {
  .footer__bottom {
    border-top: 1px solid var(--color-border);
    padding: 1rem 0 1.5rem;
    text-align: center;
    justify-content: center;
  }

  .footer__menu ul {
    justify-content: center;
  }
}

.footer__socials ul {
  display: flex;
  flex-flow: row wrap;
  gap: 0 2.3rem;
}

.footer__socials a {
  display: block;
  border-radius: 50%;
  background-color: #f0e7da;
  transition: all 0.3s;
}

.footer__socials a:hover {
  background-color: currentColor;
}

.footer__socials a:hover svg {
  transition: all 0.3s;
  color: #f0e7da;
}

.footer__socials a svg {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
}

@media screen and (max-width: 989px) {
  .footer__socials ul {
    gap: 0 1.4rem;
  }

  .footer__socials a svg {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.footer__menu {
  font-size: calc(var(--fsbase) * 1.4);
  font-weight: bold;
}

.footer__menu ul {
  display: flex;
  flex-flow: row wrap;
}

.footer__menu a {
  text-decoration: none;
}

.footer__menu a:hover {
  text-decoration: underline;
}

.footer__menu li:not(:first-child):before {
  content: '|';
  margin: 0 0.5rem 0 0.6rem;
}

@media screen and (max-width: 989px) {
  .footer__menu {
    font-size: calc(var(--fsbase) * 1.2);
  }
}

.footer__nav-mobile .footer__links-item {
  border-top: 1px solid var(--color-border);
}

.footer__nav-mobile summary {
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: calc(var(--fsbase) * 1.5);
  height: 4.6rem;
}

.footer__nav-mobile summary svg {
  margin-right: 1.9rem;
}
