/* ------------------------------------------------------------ *\
  Cards
\* ------------------------------------------------------------ */

.cards {
  position: relative;
  padding-block: 10rem 31rem;
  background-color: #000;
  color: #f4f0e0;
}

@media screen and (max-width: 1599px) {
  .cards {
    padding-block: 10rem;
  }
}

.cards__background {
  --bg-offset: 15vw;

  position: absolute;
  top: calc(-1 * var(--bg-offset));
  left: 0;
  width: 100%;
  height: calc(100% + calc(2 * var(--bg-offset)));
}

@media screen and (max-width: 1439px) {
  .cards__background {
    --bg-offset: 5vw;
  }
}

.cards__background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards__inner {
  display: block;
  position: relative;
  z-index: 2;
  max-width: 85rem;
  margin-inline: auto;
}

.cards__pagination {
  padding-top: 8.9rem;
  position: static !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cards__pagination span {
  margin-inline: 0 !important;
  border: 0 !important;
  opacity: 0.5 !important;
  transition: opacity var(--duration-default);
  background-color: #ff3a00 !important;
  width: 1.5rem;
  height: 1.5rem;
}

.cards__pagination span.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

@media (hover: hover) and (pointer: fine) {
  .cards__pagination span:hover {
    opacity: 1 !important;
  }
}

/*
   Card
   ========================================================================== */

.card {
  text-align: center;
}

.card__media-wrapper {
  max-width: 71rem;
  margin-inline: auto;
}

@media screen and (max-width: 749px) {
  .card__media-wrapper {
    max-width: 69vw;
  }
}

.card__media {
  padding-bottom: 56%;
  border-radius: 2rem;
}

.card__media:has(img) {
  background-color: transparent;
}

.card__title {
  font-size: calc(var(--fsbase) * 5.4);
  line-height: 1.2;
  margin-block: 5rem 0;
}
