/* ==========================================================================
   .testimonials
   ========================================================================== */

.testimonials {
  padding: 9.2rem 0 6.6rem;
  overflow: hidden;
}
.shopify-section:has(section.blocks) + .shopify-section .testimonials {
  padding: 3rem 0 11rem;
}

.testimonials__heading {
  text-align: center;
  margin-bottom: 9.3rem;
}

/* Small desktop */
@media (max-width: 1279px) {
  .testimonials {
    padding: 4rem 0;
  }
  .shopify-section:has(section.blocks) + .shopify-section .testimonials {
    padding: 5rem 0 9.3rem;
  }
}

/* Mobile */
@media only screen and (max-width: 749px) {
  .testimonials {
    padding: 2.5rem 0;
  }
  .shopify-section:has(section.blocks) + .shopify-section .testimonials {
    padding: 1.5rem 0 5.1rem;
  }

  .testimonials__heading {
    margin-bottom: 5.1rem;
  }
}

/*
   Preview styles
   ========================================================================== */

shopify-editor:has(.testimonials)
  .slider-testimonials__buttons
  .swiper-button-prev,
shopify-editor:has(.testimonials)
  .slider-testimonials__buttons
  .swiper-button-next {
  top: 220px;
}

shopify-editor:has(.testimonials) .slider-testimonials .slide {
  margin-right: 40px;
}
