
/* YOTPO */
.yotpo-hearts {
	margin-bottom: 2em;
}

.standalone-bottomline { 
  display: flex; 
  justify-content: left; 
  margin-bottom: 10px !important;  
}

.yotpo-label-container {
	display: none;
}

/* YOTPO ELEMENTS OF REVIEWS PAGE */
.yotpo .yotpo-testimonials-custom-tab .yotpo-modal-content .primary-color-btn,
#yotpo-testimonials > div.yotpo-modal-dialog > div.yotpo-modal-content > div.yotpo-popup-box-medium.yotpo-modal-bottom-line > input,
#write-review-tabpanel-testimonials > div.form-element.submit-button > input {
	font-family: "UntitledSans", sans-serif!important;
	font-weight: 700!important;
	font-size: 16px;
	background: #C67A26;
	padding: 0.75em 1.5em;
	text-decoration: none;
	border: 0;
	border-radius: 0!important;
	-webkit-appearance: none;
	appearance: none;
	line-height: 1.2em;
	letter-spacing: 0.06rem;
}
#yotpo-testimonials-product-reviews > div.yotpo-review.yotpo-regular-box.yotpo-regular-box-filters-padding > div.yotpo-main > div.yotpo-review-wrapper,
.yotpo .yotpo-review .rest-content-collapsed {
font-size: 16px;
}
#yotpo-testimonials-custom-tab .yotpo-main .product-link {
font-family: UntitledSans, sans-serif !important; 
font-size: 16px;
}
#yotpo-testimonials-custom-tab .yotpo-main .product-link:hover{
text-decoration: underline;
text-underline-offset: 3px;
}
#yotpo-testimonials-custom-tab .yotpo-modal-bottom-line .yotpo-bottomline {
text-align: center;
float: none;
  display: block;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star, 
.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-half-star, 
.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-empty-star, 
.yotpo.bottomline .yotpo-bottomline .yotpo-icon-star, 
.yotpo.bottomline .yotpo-bottomline .yotpo-icon-half-star, 
.yotpo.bottomline .yotpo-bottomline .yotpo-icon-empty-star, 
.yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-star, 
.yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-half-star, 
.yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-empty-star {
	font-size: 12px !important;
}

.testimonials .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-star, 
.testimonials .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-half-star, 
.testimonials .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-empty-star {
	font-size: 26px !important;
}
	
.yotpo-bottomline a.text-m {
	font-family: lft-etica-mono,sans-serif!important;
	font-size: 13px!important;
	padding-left: 5px !important;
	margin-top: -2px;
}

/* END YOTPO ELEMENTS OF REVIEWS PAGE */

.text-m {
	font-family: lft-etica-mono,sans-serif !important;
	padding-left: 1em !important; font-size: 1.6rem !important; color: #000 !important;
}

.yotpo a.text-m, .yotpo a.text-m:hover { color: #000 !important; }

.yotpo-nav-wrapper { border-color: #000 !important; }
.yotpo-nav-wrapper span { font-family:UntitledSans, sans-serif !important; color: #000 !important; text-transform: uppercase; }

.yotpo-nav-content * { font-family:UntitledSans, sans-serif !important; color: #000 !important; }
.yotpo-read-more { font-weight: 700 !important; }
.yotpo-review-images-wrapper { display: flex !important; justify-content: flex-end !important; }
.yotpo-icon-profile { display: none !important; }
.yotpo-main { margin-left: 0 !important; }
.yotpo-label { display: none !important; }
.yotpo a.yotpo-page-element { color: #000 !important; }
.yotpo-footer { margin-left: 0 !important; }
.content-review { line-height: 1.4em !important; }

.yotpo-pictures-widget { margin-bottom: var(--sectionBottom) !important; }
.yotpo.bottomLine { min-height: 18px; }

.yotpo-filter-tag.yotpo-icon-btn.yotpo-hidden { display: none !important; }
.write-question-review-buttons-container .write-question-review-button .write-question-review-button-text {font-family:UntitledSans, sans-serif !important; font-weight: normal !important; color: #000 !important; }

.y-input { margin-bottom: 10px !important; }
.y-label.yotpo-header-title { font-weight: 700 !important; }
.yotpo .y-label, .yotpo span.y-label { padding: 0 7px 5px 0 !important; }

.yotpo .yotpo-first-review .yotpo-first-review-stars .yotpo-icon-star { font-size: 24px !important; }
.yotpo-first-review-content .write-question-button { background: #C67A26 !important; color: #fff !important; font-weight: 700; }

.standalone-bottomline {justify-content: left !important;}

.product__info-wrapper .standalone-bottomline {justify-content: center !important;}

.product__info-wrapper .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star, .product-review .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star, .what-customers .yotpo.yotpo-modal .yotpo-icon-star {
	font-size: 16px !important;
}
.product__info-wrapper  .yotpo-bottomline a.text-m, 
.product-review .yotpo-bottomline a.text-m {
	font-size: 16px !important;
}

.what-customers .yotpo-bottomline a.text-m {
   font-size: 18px!important;
  margin-top: 0px;
}

.what-customers .standalone-bottomline {
  justify-content: center!important;
}

.product__info-wrapper  .yotpo-bottomline a.text-m {
  margin-top: 1px;
} 

.product-review .yotpo-bottomline a.text-m {
  margin-top: 0;
}

.yotpo .yotpo-nav {
	float: none !important;
	text-align: center !important;
}

@media all and (max-width: 600px) {
	.yotpo-footer { display: flex; }
	.yotpo-helpful { margin-left: auto !important; }
  }
  
  #write-review-tabpanel-main-widget > div.form-element.submit-button > input,
  #write-question-tabpanel > div.form-element.submit-button > input,
  button.yotpo-lightbox-product-button {
	font-family: "UntitledSans", sans-serif!important;
	font-weight: 700!important;
	font-size: 16px;
	background: #C67A26;
	padding: 0.75em 1.5em;
	text-decoration: none;
	border: 0;
	border-radius: 0!important;
	-webkit-appearance: none;
	appearance: none;
	line-height: 1.2em;
	letter-spacing: 0.06rem;
  }
  
  div.yotpo-lightbox-container.yotpo-pictures-gallery.yotpo-active-display {
	border: 2px solid #C57A29!important;
	border-radius: 0!important;
  }
  
  div.yotpo-lightbox-slider-container,
  div.yotpo-lightbox-content-container {
	border-radius: 0!important;
  }
  
  h2.yotpo-lightbox-product-name {
	font-family: "UntitledSans", sans-serif!important;
	letter-spacing: 0.06rem;
	text-align: left;
  }
  
  .yotpo, 
  .bottom-line-items-container .reviews-qa-labels-container .reviews-qa-label, 
  .yotpo span, 
  .yotpo p, 
  .yotpo a, 
  .yotpo img, 
  .yotpo i, 
  .yotpo strong, 
  .yotpo sup, 
  .yotpo ul, 
  .yotpo li, 
  .yotpo form, 
  .yotpo label {
	font-family: "UntitledSans", sans-serif!important;
	letter-spacing: 0.06rem;
  }
  
  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-review-date,
  .yotpo a.yotpo-page-element, 
  .yotpo .yotpo-review .yotpo-footer .yotpo-helpful .yotpo-sum,
  span.y-label.question-date,
  .yotpo .yotpo-question .yotpo-footer .yotpo-helpful .yotpo-sum,
  .yotpo .y-label, .yotpo span.y-label,
  .bottom-line-items-container .reviews-qa-labels-container span.reviews-qa-label {
	font-family: lft-etica-mono,sans-serif!important;
  }
  .standalone-bottomline { display: flex; justify-content: center; margin-bottom: 10px !important;  }
  .pr-text .standalone-bottomline { justify-content: flex-start; }
  .filters-container-title, .yotpo-label-container  { display: none !important; }

  .bottom-line-items-container .avg-score { 
    font-family: UntitledSans, sans-serif !important; 
    font-weight: 700; 
    font-size: 3rem !important; 
    color: #000 !important;  }
 
  .reviews-qa-label { 
    color: #000 !important; 
    font-size: 1.8rem !important; 
    vertical-align: inherit;
  }

  .main-widget .rating-stars-container { height: auto !important; margin: 0 .5em !important; }
  .yotpo-regular-box.yotpo-bottomline.bottom-line-items-container { padding-top: 0px; margin: 0 10px 10px 10px; }
  .yotpo .write-question-wrapper * {  font-family: UntitledSans, sans-serif !important; font-size: 1.6rem !important; }
  .yotpo .new-yotpo-small-box { margin: 20px 10px 0 10px; border-bottom: 1px solid #939393;}
  .yotpo .yotpo-review .yotpo-footer .yotpo-helpful span.label-helpful,
  .yotpo .yotpo-review .yotpo-footer .y-label,
  .yotpo .yotpo-question .yotpo-footer .y-label,
  .yotpo .yotpo-comment .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, 
  .yotpo .yotpo-question .yotpo-header .yotpo-header-element .y-label.yotpo-user-name,
  .yotpo .yotpo-question .yotpo-footer .yotpo-helpful span.y-label.label-helpful, 
  .yotpo-lightbox.yotpo-lightbox-new.yotpo .yotpo-modal.yotpo-modal-active .yotpo-lightbox-container .yotpo-instagram.collapse-text.open-text .yopto-main.yotpo-regular-box {
	font-family: "UntitledSans", sans-serif!important;
  }
  
  .yotpo .yotpo-review .yotpo-footer .y-label:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
  }
  
  .yotpo .transparent-color-btn span.yotpo-icon,
  .yotpo .yotpo-review .yotpo-footer .yotpo-helpful .yotpo-sum,
  .yotpo .yotpo-review .yotpo-footer .yotpo-helpful span.label-helpful {
	color: #6A6C77!important;
  }
  
  .yotpo .yotpo-review .yotpo-main .content-title,
  .yotpo .yotpo-review .yotpo-main .content-review,
  .yotpo div.content-question.yotpo-font-bold,
  .yotpo div.content-question {
	font-size: 16px;
  }
  
  .reviews-header span.reviews-amount {
	font-size: 18px;
  }
  
  .yotpo .yotpo-review .yotpo-footer .footer-actions a.social-link.popup-link:hover {
	color: #000 !important;
	text-decoration: underline!important;
	text-underline-offset: 3px;
  }
  
  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-title, 
  .yotpo-lightbox.yotpo-lightbox-new.yotpo .yotpo-modal.yotpo-modal-active .yotpo-lightbox-container .yotpo-review .yotpo-header .yotpo-header-element .yotpo-review-date {
	color:#000;
  }
  
  .filters-dropdown .yotpo-dropdown-button .selected,
  span.filters-dropdown,
  span.yotpo-icon.yotpo-icon-down-triangle {
	letter-spacing: normal;
  }
  
  .filters-dropdown .yotpo-dropdown-button,
  .filters-container .free-text-search-input,
  .write-question-review-buttons-container .write-question-review-button {
	letter-spacing: normal;
	border-radius: 0!important;
	border: 1px solid #939393!important;
  }
  
  .sort-drop-down .selected-bold {
	color: #000!important;
  }
  
  .reviews-header .yotpo-drop-down-layout .yotpo-dropdown .list-category a.non-selected-item,
  .reviews-header .yotpo-drop-down-layout .yotpo-dropdown li.list-category:hover a.non-selected-item {
	color: #000!important;
  }
  
  .reviews-header .yotpo-drop-down-layout .yotpo-dropdown .list-category .selected-item {
	color: #000!important;
  }
  
  .reviews-header .yotpo-drop-down-layout .yotpo-dropdown .list-category .selected-item:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
  }
  
  .reviews-header .yotpo-drop-down-layout .yotpo-dropdown li.list-category:hover {
	background-color: transparent!important;
	text-decoration: underline;
	text-underline-offset: 3px;
  }
  
  .filters-container .yotpo-drop-down-layout .yotpo-dropdown li.list-category:hover {
	background-color: transparent!important;
	text-decoration: underline;
	text-underline-offset: 3px;
  }

  .mobile-filters-modal .mobile-filters-container .mobile-single-filter .mobile-filter-radio-buttons .mobile-filter-radio-button .radio-text-option:hover {
    text-decoration: underline;
  	text-underline-offset: 3px;
  }

  .mobile-filters-modal .mobile-filters-container .mobile-single-filter .mobile-filter-radio-buttons .mobile-filter-radio-button .radio-label,
  .mobile-filters-modal .mobile-filters-container .mobile-single-filter .mobile-filter-title,
  .mobile-filters-modal .mobile-filters-modal-title .mobile-clear-all-btn {
    color: #000!important;
  }

  .mobile-filters-modal .mobile-filters-container .mobile-single-filter .mobile-filter-radio-buttons .mobile-filter-radio-button input[type="radio"]+.radio-label:before {
    border: 0!important;
  }
  
  .mobile-filters-modal .yotpo-display-wrapper .mobile-filters-container .mobile-single-filter .mobile-filter-radio-buttons .mobile-filter-radio-button input[type="radio"]:checked+.radio-label:before,
  .mobile-filters-modal .mobile-filters-container .mobile-single-filter .mobile-filter-radio-buttons .mobile-filter-radio-button input[type="radio"]:focus+.radio-label:before {
    background-color: #c67a26;
    box-shadow: inset 0 0 0 3px #f4f4f4;
  }
  
  .filters-container .yotpo-drop-down-layout .yotpo-dropdown .list-category a.selected-item {
	color: #000!important;
	font-weight: 700!important;
  }
  
  .filters-container .yotpo-drop-down-layout .yotpo-dropdown .list-category a.non-selected-item,
  .filters-container .yotpo-drop-down-layout .yotpo-dropdown li.list-category:hover a.non-selected-item {
	color: #000!important;
  }

  .mobile-filters-modal .mobile-filters-modal-title .title-text {
    color: #000!important;
  }
  .filters-container .yotpo-filter-tag {
    border-radius: 0;
    background-color: transparent;
  }

 .filters-container .yotpo-filter-tag :hover {
   border: 1px solid #939393;
 }

  .mobile-filters-modal .yotpo-modal-content yotpo-display-wrapper .mobile-filters-container .mobile-single-filter .mobile-filter-title,
  .mobile-filters-modal .yotpo-modal-content yotpo-display-wrapper .mobile-filters-container .mobile-single-filter .mobile-filter-radio-buttons .mobile-filter-radio-button .radio-selected-color,
  .mobile-filters-modal .yotpo-modal-content yotpo-display-wrapper .mobile-filters-container .mobile-single-filter .mobile-filter-radio-buttons .mobile-filter-radio-button .radio-non-selected-color {
    color: #000;
  }

  .yotpo.yotpo-main-widget .more-filters-btn {
    border: 1px solid #939393!important;
  }

  .reviews-header .yotpo-drop-down-layout .yotpo-dropdown,
  .filters-container .yotpo-drop-down-layout .yotpo-dropdown {
	border-radius: 0;
  }
  
  .yotpo .yotpo-nav-dropdown span:not(.yotpo-icon) {
	color: #000!important;
  }
  
  .yotpo .yotpo-nav-dropdown .selected:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
  }
  
  div.content-question > a:hover {
	text-decoration: underline;
	color: #d9661f !important;
  }
  
  .yotpo .filters-container .desktop-clear-all-btn {
	border: solid 1px #939393;
	border-radius: 0;
  }
  
  .yotpo .yotpo-nav ul .yotpo-nav-tab span {
	font-size: 18px;
  }
  
  .yotpo .yotpo-review .yotpo-main .yotpo-review-images-wrapper .image-review {
	border-radius: 0!important;
  }
  
  .yotpo .write-review .yotpo-header .yotpo-header-title,
  .yotpo .write-review .yotpo-header .y-label, 
  .yotpo .form-group .form-element .y-label,
  .yotpo .write-review .yotpo-footer .y-label,
  .yotpo #write-question-tabpanel h2,
  .yotpo #write-question-tabpanel div.yotpo-mandatory-explain,
  .yotpo #write-review-tabpanel-main-widget div.yotpo-mandatory-explain {
   font-family: "UntitledSans", sans-serif!important;
   color: #000;
  }
  
  textarea.y-input.yotpo-text-box {
	margin-top: 0;
  }

.suggested-topics-row .suggested-topic, 
.suggested-topics-row .suggested-topic-expand {
  background-color: #FFFAF4!important;
  border-radius: 0!important;
}
.suggested-topics-row .suggested-topic.active-topic, 
.suggested-topics-row .suggested-topic-expand.active-topic {
    background-color: #FFFaf4!important;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.suggested-topics-row .suggested-topic:hover, 
.suggested-topics-row .suggested-topic-expand:hover {
  background-color: #FFFaf4!important;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.suggested-topics-row .suggested-topic .suggested-topic-text:hover, 
.suggested-topics-row .suggested-topic-expand .suggested-topic-text:hover {
  font-weight: 700;
}

.suggested-topics #suggested-topics-desktop-layout .suggested-topic:focus, 
.suggested-topics #suggested-topics-desktop-layout .suggested-topic-expand:focus {
  outline:none!important;
}

.main-widget .mobile-clear-filters-btn {
  color: #000!important;
}

@media (max-width: 700px) {
    .product-review .standalone-bottomline {
      justify-content: center!important;
    }
}
/* END YOTPO */