

/* YOTPO ELEMENTS OF REVIEWS PAGE */
.yotpo .yotpo-testimonials-custom-tab .yotpo-modal-content .primary-color-btn,
#yotpo-testimonials > div.yotpo-modal-dialog > div.yotpo-modal-content > div.yotpo-popup-box-medium.yotpo-modal-bottom-line > input,
#write-review-tabpanel-testimonials > div.form-element.submit-button > input {
	font-family: "UntitledSans", sans-serif!important;

}

#yotpo-testimonials-custom-tab .yotpo-main .product-link {
font-family: UntitledSans, sans-serif !important; 
font-size: 16px;
}



.text-m {
	font-family: lft-etica-mono,sans-serif !important;
}


.yotpo-nav-wrapper span { font-family:UntitledSans, sans-serif !important; color: #000 !important; text-transform: uppercase; }

.yotpo-nav-content * { font-family:UntitledSans, sans-serif !important; color: #000 !important; }

.write-question-review-buttons-container .write-question-review-button .write-question-review-button-text {font-family:UntitledSans, sans-serif !important; font-weight: normal !important; color: #000 !important; }


  
  #write-review-tabpanel-main-widget > div.form-element.submit-button > input,
  #write-question-tabpanel > div.form-element.submit-button > input,
  button.yotpo-lightbox-product-button {
	font-family: "UntitledSans", sans-serif!important;

  }
  

  
  .yotpo, 
  .bottom-line-items-container .reviews-qa-labels-container .reviews-qa-label, 
  .yotpo span, 
  .yotpo p, 
  .yotpo a, 
  .yotpo img, 
  .yotpo i, 
  .yotpo strong, 
  .yotpo sup, 
  .yotpo ul, 
  .yotpo li, 
  .yotpo form, 
  .yotpo label {
	font-family: "UntitledSans", sans-serif!important;
  }
  
  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-review-date,
  .yotpo a.yotpo-page-element, 
  .yotpo .yotpo-review .yotpo-footer .yotpo-helpful .yotpo-sum,
  span.y-label.question-date,
  .yotpo .yotpo-question .yotpo-footer .yotpo-helpful .yotpo-sum,
  .yotpo .y-label, .yotpo span.y-label,
  .bottom-line-items-container .reviews-qa-labels-container span.reviews-qa-label {
	font-family: lft-etica-mono,sans-serif!important;
  }

  .bottom-line-items-container .avg-score { 
    font-family: UntitledSans, sans-serif !important; 
 }
 

  .yotpo .write-question-wrapper * {  font-family: UntitledSans, sans-serif !important; font-size: 1.6rem !important; }

  .yotpo .yotpo-review .yotpo-footer .yotpo-helpful span.label-helpful,
  .yotpo .yotpo-review .yotpo-footer .y-label,
  .yotpo .yotpo-question .yotpo-footer .y-label,
  .yotpo .yotpo-comment .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, 
  .yotpo .yotpo-question .yotpo-header .yotpo-header-element .y-label.yotpo-user-name,
  .yotpo .yotpo-question .yotpo-footer .yotpo-helpful span.y-label.label-helpful, 
  .yotpo-lightbox.yotpo-lightbox-new.yotpo .yotpo-modal.yotpo-modal-active .yotpo-lightbox-container .yotpo-instagram.collapse-text.open-text .yopto-main.yotpo-regular-box {
	font-family: "UntitledSans", sans-serif!important;
  }
  

  .yotpo .write-review .yotpo-header .yotpo-header-title,
  .yotpo .write-review .yotpo-header .y-label, 
  .yotpo .form-group .form-element .y-label,
  .yotpo .write-review .yotpo-footer .y-label,
  .yotpo #write-question-tabpanel h2,
  .yotpo #write-question-tabpanel div.yotpo-mandatory-explain,
  .yotpo #write-review-tabpanel-main-widget div.yotpo-mandatory-explain {
   font-family: "UntitledSans", sans-serif!important;
  }
